<header>
  <ul>
    <li><a class="home" href="/">hawksworx</a></li>
    <li><a class="blog" href="/blog/">blog</a></li>
    <li><a class="about" href="/about/">about</a></li>
    <li><a class="speaking" href="/speaking/">speaking</a></li>
  </ul>
</header>
