@mixin bp($point) {

  @if $point == narrow {
    @media #{$bp-narrow} { @content; }
  }
  @else if $point == mid {
    @media #{$bp-mid} { @content; }
  }
  @else if $point == wide {
    @media #{$bp-wide}  { @content; }
  }

}


@mixin theme($colour) {
  .sidebar { background-color: $colour;}
  a.home {color: $colour; }
  blockquote { border-left-color: mix($colour, #fff, 10%);}
}
