@import '_variables';
@import '_mixins';

@font-face {
  font-family: Placard;
  src: url('/_static/fonts/placardmtstd-cond-webfont.woff2') format('woff2'),
       url('/_static/fonts/placardmtstd-cond-webfont.woff') format('woff');
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #444;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  font-size: 16px;
  @include bp(wide) {
    display: flex;
    flex-direction: row;
  }
}

.sidebar {
  @include bp(wide) {
    width: 45%;
  }
  header {
    position: sticky;
    top:0;
  }
}

.main {
  background-color: #fff;
  @include bp(wide) {
    width: 55%;
  }
}



.container,
.sidebar-container {
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  @include bp(mid) {
    width: 70%;
    max-width: 700px;
  }
  @include bp(wide) {
    width: 60%;
    max-width: 600px;
  }
}
.container {
  margin-top: 4em;
  margin-bottom: 4em;
  @include bp(wide) {
    margin-left: 3em;
  }
}
.sidebar-container {
  @include bp(wide) {
    margin-right: 3em;
  }
}



.page-details {
  margin-top: 5em;
  padding-bottom: 2em;
  @include bp(narrow) {
    max-width: 80%;
  }
  @include bp(mid) {
    max-width: 450px;
  }
  @include bp(wide) {
    max-width: 100%;
  }
}


a {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

ul.tags {
  list-style: none;
  margin-top:0;
  margin-left:0;
  padding-left:0;

  li {
    line-height: 1.5;
  }
}
a.tag {
  &:link,
  &:visited {
    border-bottom-style: none;
  }
}

// Headings
h1, h2, h3, h4 {
  font-family: arial, sans-serif;
  padding-top:1em;
  line-height: 1;
}
h1 {
  font-family: Placard, arial, sans-serif;
  font-size: 3.8em;
  text-transform: uppercase;
  font-weight: normal;
  margin-top:0;
  margin-bottom:0;
  padding-top:0.3rem;
  padding-bottom:0.4rem;
}
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.1em; }

.post {

  img {
    width: 100%;
    padding-top:1em;
    padding-bottom:1em;
  }

}


.excerpt {
  font-style: italic;
  font-size: 1.1em;
}

blockquote {
  margin-left: 0;
  padding-left: 1.5em;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  border-left-style: solid;
  border-left-width: 0.8em;
}



// Header
header {

  ul.nav {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    list-style: none;
    margin:0;
    padding:0;
    li {
      display: inline;
    }
    a {
      display:inline-block;
      padding-top:4em;
      padding-bottom:0.2em;
      padding-left:0.5em;
      padding-right:0.5em;
      border-bottom-style: none;
    }
    a.home {
      padding-left:0.7em;
      padding-right:0.7em;
    }
    a.blog {
      padding-left:1em;
    }
  }
}





// colours

a {
  border-bottom-color: #9bf;
  &:link,
  &:visited {
     color: #68d;
  }
  &:hover,
  &:focus {
    color: #46c;
    border-bottom-color: #46c;
  }
}
.sidebar {
  background-color: #f7f7f7;
  color: #333;
  a { color: #000; }
  a.home {
    color: #E5E5E5;
    background-color: #222;
  }
  ul.nav a:hover { background-color: rgba(0,0,0,0.02); }
  ul.nav a.home:hover { background-color: #000;}
}
h2, h3, h4 { color: #000 ;}
blockquote { border-left-color: #f7f7f7;}



// painted theme

.painted {
  a {
    border-bottom-color: #9bf;
    &:link,
    &:visited {
      color: #68d;
    }
    &:hover,
    &:focus {
      color: #46c;
      border-bottom-color: #46c;
    }
  }
  .sidebar {
    color: #fff;
    a {
      color: #fff;
      border-color: #fff;
    }
    a.home { background-color: #fff;}
    ul.nav {
      a:hover { background-color: rgba(255,255,255,.04); }
      a.home:hover { background-color: #fff; }
    }
    .date,
    .tags {
      opacity: 0.8;
    }
  }
}

/*
  painted themes
*/
.painted-red { @include theme(#c22943) }
.painted-blue { @include theme(#468BDB) }
.painted-darkgrey { @include theme(#3c3c3c) }
.painted-purple { @include theme(#aa0694) }
.painted-lime { @include theme(#85a832) }




