@import '_variables';
@import '_mixins';

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #444;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  font-size: 18px;
}

// layout
.todo {
  border: dashed 2px red;
}

body {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #E5E5E5;
  color: #333;
  width: 45%;

  header {
    position: sticky;
    top:0;
  }
}
.main {
  background-color: #fff;
  width: 55%;
}

.container {
  width: 90%;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: auto;
  text-align: left;

  @include bp(wide) {
    width: 70%;
    max-width: 600px;
  }
}

.sidebar-container {
  width: 80%;
  margin-left: auto;
  margin-right: 2em;
  text-align: left;

  @include bp(wide) {
    width: 60%;
    max-width: 600px;
  }
}


a {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #9bf;

  &:link,
  &:visited {
    color: #68d;
  }
  &:hover,
  &:focus {
    color: #46c;
    border-bottom-color: #46c;
  }
}

// Headings

h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
  padding-top:1em;
  color: #000;
  line-height: 1.2;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }

.excerpt {
  font-style: italic;
  font-size: 1.1em;
}




// Header

header {


  ul.nav {
    list-style: none;
    margin:0;
    padding:0;
    li {
      display: inline;
    }
    a {
      display:inline-block;
      padding-top:1em;
      padding-bottom:1em;
      padding-left:1em;
      padding-right:1em;
      border-bottom-style: none;
      background-color: #222;

      &:hover {
        background-color: #000;
      }
    }
  }
}



