---
permalink: blog/feed.json
---

'posts' : [
{%- for item in collections.blogposts -%}
  {
    'url' : '{{ item.url }}',
    'title' : '{{ item.data.title }}',
    'layout' : '{{ item.data.layout }}',
    'publishdate' : '{{ item.data.publishdate }}',
    'draft' : '{{ item.data.draft }}',
    'allowcomments' : '{{ item.data.allowcomments }}',
    'description' : '{{ item.data.description }}',
    'tags' : '{{ item.data.tags }}',
    'content' : '{{ item.templateContent | escape }}'
  }
  {% if loop.last !== true %},{%- endif -%}
{%- endfor -%}
]
