body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; 
  font-size: var(--step-2);
  line-height: 1.8;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  padding: 3em 0 0.75em;
  line-height: 1.3;
  text-wrap: pretty;
}

h1 { font-size: var(--step-6); }
h2 { font-size: var(--step-5); }
h3 { font-size: var(--step-4); }
h4 { font-size: var(--step-3); }
