
{{ define "hero" }}
<div class="hero hero-{{ .Params.section }}">
    <div class="container">
      <p class="publish-date">{{ .PublishDate.Format "2 January, 2006" }}</p>
      <h1>{{ .Title }}</h1>
      <div class="tags">
        tagged:
        <ul>
        {{ range .Params.tags }}
          <li><a href="/tags/{{ . }}">{{ . }}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}

{{ define "main" }}
  <div class="content container post-content">
    <div class="post-summary">
      {{ .Summary}}
    </div>
    {{ strings.TrimPrefix .Summary .Content | safeHTML }}
  </div>
  <div class="content container listing post-content">
    {{ with (index .Site.Data.comments ($.URL)) }}
    <h2>Comments</h2>
    <ul>
      {{ range . }}
      {{ partial "comment.html" . }}
      {{ end }}
    </ul>
    {{ end }}

    {{ if .Params.allowcomments }}
    {{ partial "comment-form.html" . }}
    {{ else }}
    <h2>Comments are now closed for this post</h2>
    <p>
      If you feel strongly about it, you could always
      <a href="https://twitter.com/intent/tweet?text=I have some thoughts about this from @philhawksworth&url={{ $.Permalink }}">comment on twitter</a>.
    </p>
    {{ end }}

  </div>
{{ end }}

{{  define "footer-tout" }}
<div class="footer-tout">
<ul class="nav">
  <li><a href="/blog">Explore the blog by index, by tags or by search<p class="hint">More posts</p></a></li>
  {{ with .Next }}
  <li>
    <a href="{{ .URL }}">
    {{ if isset .Params "displayname" }}
      {{ .Params.displayname }}
    {{ else }}
      {{ .Title }}
    {{ end }}
    <p class="hint">{{ .PublishDate.Format "January 2, 2006" }}</p></a></li>
  {{ end }}
</ul>
</div>
{{ end }}


