---
title: About Phil Hawksworth
description: A little more about Phil, Principal DX Engineer at Netlify
pageClass: "bright-theme theme-nearwhite"
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>A little about <span class="no-wrap">Phil Hawksworth</span></h1>
  <img class="avatar-large" src="/images/philhawksworth-goon.jpg" alt="Phil Hawksworth's face" />
{% endblock %}


{% block content %}
<p>
    This site is the online home of Phil Hawksworth. He doesn't love talking about himself in the third person, so he's going to stop that now if you don't mind.
</p>
<hr />

<h2 id="about-me">👋 Thanks for stopping by</h2>
<p>
  I have been building things on the web professionally for almost 20 years. Between 2009 and 2018 that happened at agencies where I was fortunate to work with a wide range of public and private sector clients.
</p>
<p>
  After 9 years working at agencies, I returned to working on a product. Now as part of the Developer Experience team at <a href="https://www.netlify.com">Netlify</a> my focus is on developing strategies for using <a href="https://www.jamstack.org">JAMstack</a> technologies to make building for the web simpler, faster and more secure.
</p>

<h2 id="home-in-the-world">Home in the world</h2>
<p>
  I live in the leafy English city of <a href="https://en.wikipedia.org/wiki/St_Albans">St Albans</a>, just a few miles north of London with my wife and our 2 naughty cats.
</p>
<p>
  If you want to know more, you can <a href="/ask-me">ask me anything</a>.
</p>

<h2 id="home-on-the-web">Home on the web</h2>
<p>
  You can find me in the following places on the web:
</p>
<ul>
  <li><a href="https://www.twitter.com/philhawksworth">Twitter</a> - twitter.com/philhawksworth</li>
  <li><a href="https://www.github.com/philhawksworth">GitHub</a> - github.com/philhawksworth</li>
  <li><a href="https://noti.st/philhawksworth">Notist</a> - noti.st/philhawksworth</li>
  <li><a href="https://www.speakerdeck.com/philhawksworth">Speakerdeck</a> - speakerdeck.com/philhawksworth</li>
  <li><a href="https://www.instagram.com/philhawksworth">Instagram</a> - instagram.com/philhawksworth</li>
  <li><a href="https://www.flickr.com/philhawksworth">Flickr</a> - flickr.com/philhawksworth</li>
  <li><a href="https://www.linkedin.com/philhawksworth">LinkedIn</a> - linkedin.com/philhawksworth</li>
</ul>

<h2 id="speaking">Speaking</h2>
<p>
  As an active member of the web development community, I enjoy attending and speaking at conferences. If you are interested in my speaking at your event you can <a href="/ask-me#to-speak">ask me about speaking</a> or visit the <a href="/speaking">Speaking</a> page to see where I've spoken and what I have coming up.
</p>

<h2 id="writing">Writing</h2>
<p>
  Other than the posts here <a href="/blog">on this blog</a>, you can also find my scribblings in various places including <a href="https://css-tricks.com/author/philhawksworth/">CSS-Tricks</a>, <a href="https://dev.to/philhawksworth">dev.to</a>, <a href="https://netlify.com/blog">Netlify's blog</a>, and in the real world in an O'Reilly Book entitled <a href="https://netlify.com/oreilly-jamstack/">Modern Web Development on the JAMstack</a> which was co-authored with Netlify CEO and co-founder, Matt Biilmann (which I'm delighted to say is now available as a <a href="https://netlify.com/oreilly-jamstack/">free download</a>).
</p>

<a href="https://netlify.com/oreilly-jamstack/" class="floating-lozenge"><img src="/images/jamstack-book-banner-1.jpg" alt="Modern Web Development on the JAMstack"></a>


<hr />

<h2 id="about-this-site">About this site</h2>
<p>
  This site is built using a <a href="https://www.staticgen.com/">static site generator</a> called <a href="https://11ty.io">Eleventy</a>, and then served on the <a href="https://www.jamstack.org">JAMstack</a> for free by <a href="https://www.netlify.com">Netlify</a>. It is delivered over HTTPS thanks to a free certificate from Let's Encrypt.
</p>
<p>
  The source code is available on <a href="https://github.com/philhawksworth/hawksworx.com">GitHub</a>. Feel free to look at over and borrow any techniques or code you like.
</p>

<h2 id="credits-and-licensing">Credits and licensing</h2>
<p>
  Other than where specified, the content on this site is published under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> licence.
</p>
<p>
  The flag images on the <a href="/speaking">speaking</a> page are sourced as SVGs from <a href="http://flag-icon-css.lip.is/">flag-icon-css</a>, generously created and maintained by <a href="https://github.com/lipis">Lipis</a>.
</p>
<p>
  The <a href="https://thenounproject.com/search/?q=link&i=1119743" target="_BLANK" rel="noopener">link icon</a> used in the blog, courtesy of Peter Carleton from the Noun Project
</p>

{% endblock %}


