<div class="container">
  {% include "navigation.njk" %}
  <p>
    The source code of this site is available on <a href="https://www.github.com/philhawksworth/hawksworx.com">Github</a> and served on the <a href="https://jamstack.org">JAMstack</a> by <a href="https://www.netlify.com">Netlify</a>.
  </p>
  <p>
    This build of the site was deployed automatically as a result of the <a href='https://www.github.com/philhawksworth/hawksworx.com/commit/master'>latest change</a> being committed.
  </p>
  <p>
    Other than where specified, the content on this site is published under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 licence</a>.
  </p>
</div>
