<ul class="nav">
  <li><a href="/">home</a></li>
  <li><a href="/blog">blog</a></li>
  <li><a href="/speaking">speaking</a></li>
  <li><a href="/links">links</a></li>
  <li><a href="/about">about</a></li>
</ul>
