<ul class="nav">
  <li><a href="/" class="home">hawksworx</a></li><li><a href="/blog" class="blog">blog</a></li><li><a href="/speaking">speaking</a></li><li><a href="/about">about</a></li><li><a href="/search" class="search" id="search-link">search</a></li>
</ul>
