  <div class="blog-list-item">
    <p class="by-line">{{ item.date | dateDisplay }}</p>
    {% if item.data.externalurl %}
    <h2><a href="{{ item.data.externalurl }}">{{ item.data.title | orphanWrap | safe }}</a><img src="/images/icons/external-link-icon.svg" class="external-link" alt="Read this post on the site on which it was posted."></h2>
    {% else %}
    <h2><a href="{{ item.url }}">{{ item.data.title | orphanWrap | safe }}</a></h2>
    {% endif %}
    <div class="tags">
    {% for tag in item.data.tags -%}
      <a href="/tags/{{ tag }}" class="tag">#{{ tag }}</a>
      {{ "" if loop.last else "," }}
    {% endfor -%}
    </div>
  </div>
