
{% set currentItemIndex = 0 %}
{% for item in collections.posts %}
  {% if item.url == page.url %}
  	{% set currentItemIndex = loop.index0 %}
	{% endif %}
{% endfor %}
{% set previousItem = collections.posts[currentItemIndex + 1] %}
{% if previousItem %}
<p>
  More on the blog <a href="{{ previousItem.url | url }}" class="">{{ previousItem.data.title }}</a>
</p>
{% endif %}
