<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} &mdash; hawksworx.com</title>
    <meta name="description" content="{{ description }}" />
    <link
      rel="preload"
      href="/fonts/source-serif-4-latin-var.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/archivo-latin-var.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/scss/main.css" />
  </head>
  <body>
    <main class="page">{{ content }}</main>
  </body>
</html>
