<ul class="nav">
  <li ><a class="brand-label" href="/">hawksworx</a></li>
  <li><a href="/blog/">writing</a></li>
  <li><a href="/speaking">speaking</a></li>
  <li><a href="/notes/">notes</a></li>
</ul>
