<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/speaking/">Speaking</a></li>
  <li><a href="/roadmap/">Roadmap</a></li>
  <li><a href="{{pkg.repository.url}}">Code</a></li>
</ul>
