<h1 class="post-title">{{ page.title }}</h1>
<aside>
    <address class="vcard">
        Posted by <a class="url n fn" rel="author" href="/">Phil Hawksworth</a>
    </address>
    <time datetime="{{page.date}}">on {{page.date | date_to_long_string}}</time>
    <p>Tagged
    {% for tag in page.tags %}
    {% if forloop.last %}
    and
    {% endif %}
    <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
    </p>
</aside>
<div class="post-content">
    {% if page.image contains 'http' %}
    <figure>
        <img src="{{ page.image }}"  />
    </figure>
    {% elsif page.image %}
    <figure>
        <img src="/images/{{ page.image }}" />
    </figure>
    {% endif %}
    <p class="excerpt">
 	{{ page.excerpt }}
    </p>
