{{ define "main" }}
  {{ .Content }}
  <div class="content">
    <div class="container">
      <h2>Latest blog post</h2>
    </div>
    {{ range first 1  (where .Data.Pages "Section" "blog").ByPublishDate.Reverse }}
      {{ partial "post-teaser.html" . }}
    {{ end }}
    <div class="container">
      <h2>Recent links</h2>
      <p>Like a magpie, I spotted these, thought "oooh shiny" and stashed them on my <a href="/links">links</a> page. Not blogged, but stashed.</p>
      <div class="listing">
        <ul>
          {{ range first 3 .Site.Data.links.public }}
            {{ partial "link.html" . }}
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="container ">
      <h2>Upcoming talks</h2>
      <p>I'll be speaking at these events soon. For information on more upcoming events, coverage or previous events, or on infoprmation on booking me to speak at your event, visit the <a href="/speaking">speaking</a> page.</p>
      <div class="listing">
        <ul>
          {{ range sort .Site.Data.speaking.events "date" "asc" }}
            {{ if (time .date).After now }}
              {{ partial "talk.html" . }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
