node_modules
dist
.env
_soon
src/site/images/instagram/*.jpeg
src/site/_includes/css/*
.netlify
.netlify/state.json
.cache
/**/.DS_Store

# Social media archive exports
tweets.json
outbox.json
tw-archive

# Eleventy Edge Build Data files
netlify/edge-functions/_generated


commit.js
.netlify/state.json
