[build]
  command = "npm run build"
  publish = "dist"
  environment = { NODE_VERSION = "16" }

[dev]
  command = "npm run dev"
  publish = "dist"

# [[headers]]
#   for = "/*"
#   [headers.values]
#     X-Frame-Options = "DENY"
#     X-XSS-Protection = "1; mode=block"
#     X-Content-Type-Options = "nosniff"
#     Referrer-Policy= "no-referrer-when-downgrade"

[functions]
  node_bundler = "esbuild"

[[edge_functions]]
  function = "eleventy-edge"
  path = "/*"

[[redirects]]
  from = "/notes/search/*"
  to = "/notes/search"
  status = 200

[[redirects]]
  from = "/notes"
  to = "/notes/1/"
  status = 301

[[redirects]]
  from = "/note/tw/"
  to = "/notes"
  status = 301
[[redirects]]
  from = "/note/mstdn/"
  to = "/notes"
  status = 301

[[redirects]]
  from = "/note/"
  to = "/notes"
  status = 301

[[redirects]]
  from = "/note/tw/*"
  to = "/.netlify/functions/note-tweet"
  status = 200
[[redirects]]
  from = "/note/mstdn/*"
  to = "/.netlify/functions/note-tweet"
  status = 200



# social media card assets
[[redirects]]
  from = "/card-image/:path"
  to = "https://hawksworx-cards.netlify.com/card/www-hawksworx-com:path"
  status = 302


# Simplify requests for my headshots
[[redirects]]
  from = "/philhawksworth-*"
  to = "/images/philhawksworth-:splat"

# Look after the old use of journal in urls
[[redirects]]
  from = "/journal/*"
  to = "/blog/:splat"
  status = 301

# Simplified blog urls for slugs
[[redirects]]
  from = "/blog/:year/:month/:day/:slug"
  to = "/blog/:slug"
  status = 301

# A serverless cgi-bin!
# https://www.hawksworx.com/cgi-bin/hello/friend
 [[redirects]]
  from = "/cgi-bin/hello/:name"
  to = "/.netlify/functions/hello?name=:name"
  status = 200


[[redirects]]
  from = "/.well-known/webfinger"
  to = "https://indieweb.social/.well-known/webfinger?resource=acct:philhawksworth@indieweb.social"
  status = 200


[[redirects]]
  from = "/.well-known/webfinger"
  to = "https://indieweb.social/.well-known/webfinger?resource=acct:HANDLE@INSTANCE"
  status = 200


# 404s
[[redirects]]
  from = "*"
  to = "/404"
  status = 404

