[build]
  Functions = "functions"
  command = "yarn run build"

# do a lighter build on the branches
[context.branch-deploy]
  command = "yarn run build:branch"


[[headers]]

 for = "/*"
 [headers.values]
   X-Frame-Options = "DENY"
   X-XSS-Protection = "1; mode=block"
   X-Content-Type-Options = "nosniff"
   Referrer-Policy= "no-referrer-when-downgrade"


# Simplify requests for my headshots
[[redirects]]
  from = "/philhawksworth-*"
  to = "/images/philhawksworth-:splat"

# Look after the old use of journal in urls
[[redirects]]
  from = "/journal*"
  to = "/blog:splat"
  status = 301

# Simplified blog urls for slugs
[[redirects]]
  from = "/blog/:year/:month/:day/:slug"
  to = "/blog/:slug"
  status = 301

# Puttr now lives in its own project on a sundomain
[[redirects]]
  from = "/puttr"
  to = "https://puttr.hawksworx.com"
  status = 301

# Talks and sldes
[[redirects]]
  from = "/talks"
  to = "/speaking"
  status = 302

# Talks and sldes
[[redirects]]
  from = "/talks/scriptconf"
  to = "https://speakerdeck.com/philhawksworth/next-wave-infrastructure"
  status = 302

  [[redirects]]
  from = "/talks/scriptcom"
  to = "https://speakerdeck.com/philhawksworth/next-wave-infrastructure"
  status = 302

  [[redirects]]
  from = "/talks/JAMLDN1"
  to = "https://speakerdeck.com/philhawksworth/next-wave-infrastructure"
  status = 302

 [[redirects]]
  from = "/talks/smashing"
  to = "https://speakerdeck.com/philhawksworth/next-wave-infrastructure"
  status = 302

 [[redirects]]
  from = "/talks/stealth"
  to = "https://speakerdeck.com/philhawksworth/stealthy-git-solving-cms-woes-with-git-on-the-quiet"
  status = 302

 [[redirects]]
  from = "/talks/render"
  to = "https://speakerdeck.com/philhawksworth/serving-for-the-win-deployments-and-infrastructure-for-the-rest-of-us"
  status = 302

 [[redirects]]
  from = "/talks/serve"
  to = "https://speakerdeck.com/philhawksworth/serving-for-the-win-deployments-and-infrastructure-for-the-rest-of-us"
  status = 302

 [[redirects]]
  from = "/talks/jsheroes"
  to = "https://speakerdeck.com/philhawksworth/serving-for-the-win-deployments-and-infrastructure-for-the-rest-of-us"
  status = 302
