---
layout: base
title: Speaking
pageclass: speaking
---

<p>
    I enjoy talking about what I do, and sometimes this happens at conferences. If you'd like me to speak at an event then please do get in touch.  I'm <a href="http://twitter.com/philhawksworth">@philhawksworth</a> on Twitter and this is often the easiest way to make contact.
</p>
<figure><img src="/images/philhawksworth-txjs.jpg" alt="Speaking" /></figure>
<p>
    For more details of speaking engagements, including slides, videos and other coverage, find my profile over on <a href="http://lanyrd.com/profile/philhawksworth/">Lanyrd</a>
</p>
      

<h2>Upcoming conferences</h2>
<ul class="listing">
	{% for event in site.data.events.upcoming %}
	  <li><time datetime="{{ event.date | date_to_xmlschema }}">{{ event.date | date_to_long_string  }}</time>
		{% if event.url %}
			<a href="{{ event.url }}">{{ event.name }}</a>
		{% else %}
			{{ event.name }}
		{% endif %}
	  - {{ event.location }}</li>
	{% endfor %}
</ul>

<h2>Previous conferences</h2>
<ul class="listing">
	{% for event in site.data.events.previous %}
	  <li><time datetime="{{ event.date | date_to_xmlschema }}">{{ event.date | date_to_long_string  }}</time>
		{% if event.url %}
			<a href="{{ event.url }}">{{ event.name }}</a>
		{% else %}
			{{ event.name }}
		{% endif %}
	  - {{ event.location }}</li>
	{% endfor %}
</ul>			
	
        <p class="meta">
            Photo credit: <a href="http://www.flickr.com/photos/slexaxton/8670375255/sizes/c/in/set-72157633298086859/">Alex Sexton</a>
        </p>

	
