@import '_variables';
@import '_mixins';
@import '_type';


* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

::-moz-selection {
  background-color: $accent-color;
  color: #000;
}
::selection {
  background-color: $accent-color;
  color: #000;
}




header {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 999;
  background-color: #000;
}

.masthead {
  height: 100vh;
  position: relative;
  text-align: center;
  .logo {
    padding-top:30vh;
  }
}


p {
  margin-top:0;
  margin-bottom:1em;
}

a:link,
a:visited {
  color: #222;
}

a.scroll-hint {
  left: 50%;
  position: absolute;
  bottom: 2em;
  height: 20px;
  width: 20px;
  background-size: 20px;
  margin-left:-10px;
  background-image: url('/images/angle-arrow-down.svg');
  text-indent: -500px;
  overflow: hidden;
}
a.scroll-hint:hover {
  height: 30px;
  width: 30px;
  background-size: 30px;
  margin-left:-15px;
}


.nav {
  list-style: none;
  background-color: #000;
  color: #fff;

  li {
    display: inline-block;
    text-align: center;
  }

  a:link,
  a:visited {
    display: inline-block;
    padding-top:1.5em;
    padding-bottom:1.5em;
    padding-left:0.4em;
    padding-right:0.4em;
    color: $page-color;
    text-decoration: none;
    @include bp(narrow) {
      padding-left:0.7em;
      padding-right:0.7em;
      padding-top:2em;
      padding-bottom:2em;
    }
    @include bp(mid) {
      padding-left:1em;
      padding-right:1em;
    }

  }
  a:hover,
  a:focus {
    background-color: #222;
  }
  a:link .hint,
  a:visited .hint {
    display:none;
    line-height:1em;
    font-size: 0.7em;
    margin-top:0.4em;
    opacity: 0.7;
    @include bp(wide) {
      display: block;
    }
  }
  a.home:link,
  a.home:visited {
    color:$accent-color;
  }
}


.home .nav a.home,
.speaking .nav a.speaking,
.blog .nav a.blog,
.links .nav a.links,
.about .nav a.about {
  background-color: #222;
}



.container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  @include bp(mid) {
    width: 650px;
  }
  @include bp(wide) {
    width: 800px;
  }
}


.content {

  padding-top:2em;
  padding-bottom:3em;
  text-align: left;
  color: mix($text-color, $page-color, 55%);

  a:visited,
  a:link {
    color: #000;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    border-bottom: solid 2px $dull-accent-color;
  }
  a:hover,
  a:focus {
    border-bottom: solid 2px $accent-color;
    background-color: $faint-accent-color;
  }

  ul, ol {
    padding-left: 2em;
    margin-bottom: 2em;
  }
  li {
    margin-bottom: 0.6em;
  }

  img {
    width: 100%;
    margin-top:2em;
    margin-bottom:3em;
  }

}


.logo {
  width: 100%;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 2em;

  .subtitle {
    margin-top:-1.5em;
  }
}

.noodle {
  width: 100px;
  height: 100px;
  border-radius: 102px;
  box-shadow: 0 0px 10px 0 rgba(0,0,0,.4);
  padding: 1px;
}


.hero {
  padding-top: 12em;
  padding-bottom: 6em;
  background-color: $accent-color;
}


a.btn {

  &:link,
  &:visited {
    display: inline-block;
    margin-top: -3em;
    margin-bottom: 2em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 2px;
    color: #000;
    font-size: 0.9em;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,.2);
  }
  &:hover,
  &:focus {
    background-color: rgba(0,0,0,1);
    color: $accent-color;
    text-shadow: none;
  }

}

button {
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 2px;
  color: #000;
  box-shadow: 0 0px 8px 0 rgba(0,0,0,.2);
  font-size: 0.9em;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: rgba(0,0,0,1);
    cursor: pointer;
  }
  &:active {
    color: rgba(0,0,0,1);
    background-color: $accent-color;
  }
}





.listing {

  margin-bottom: 4em;

  h2 {
    margin-bottom:0em;
  }

  ul {
    list-style: none;
    margin-left: -2em;
    margin-top: 2em;
  }
  .post {
    border-bottom: solid 1px #eee;
    padding-top:7em;
    padding-bottom:6em;
  }
  .post:last-of-type {
    border-bottom: none;
  }
  .talk,
  .tweet,
  .comment {
    border-top: solid 1px #eee;
    padding-top:1em;
    padding-bottom:1em;
    .publish-date {
      margin-bottom: -0.4em;
    }
    h3 {
      display: inline-block;
      font-size: 1em;
      padding-top:0em;
      padding-bottom:0em;
    }
    span {
      margin-left:0.5em;
    }
  }
  .talk:first-of-type,
  .tweet:first-of-type {
    border-top: none;
  }

  .flag {
    width: 1em;
    margin-top:1em;
    margin-bottom: 0;
    margin-right:0.4em;
    vertical-align: baseline;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
  }
  .tweet-content {
    padding-top:1em;
    margin-bottom: 0em;
    padding-left: 30px;
  }
  .twitter-avatar {
    width: 20px;
    margin-right: 0.6em;
    vertical-align: middle;
  }

  .tweet a:link,
  .tweet a:visited {
    color: #777;
  }
  .tweet a:focus,
  .tweet a:hover {
    color: #333;
  }
}

.comment {
  img.comment-avatar {
    width:50px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .commenter {
    font-size: 0.9em;
  }
  .comment-content {
    margin-top: 1.4em;
    margin-bottom: 2em;
  }
}

.link {

  h3 {
    margin-top:4em;
    padding-bottom:0.2em;
    color:#000;
  }

  .link-permalink {
     position: relative;

     a:link,
     a:visited {
       border-bottom: none;
       opacity: 0.5;
       font-size: 0.7em;
     }
     a:focus,
     a:hover {
       opacity: 1;
     }
     img {
       position: absolute;
       left: -20px;
       top: 0.8em;
       width: 12px;
       margin-top: 0;
       margin-bottom: 0;
     }
  }
}


.callout {
  background-color: #000;
  color: #ccc;
  padding-top: 1em;

  h2 {
    display: inline-block;
    color: $accent-color;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
  }
}

blockquote {
  background-color: #f9f9f9;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top:2em;
  margin-bottom:2em;
  border-left: solid 6px $accent-color;
  cite {
    display: block;
    text-align: right;
    margin-top:1em;
    font-style: italic;
  }
}

footer {
  width: 100%;
  margin-top: 2em;
  padding-bottom: 2em;
  background-color: #000;
  color: #aaa;
  text-align: center;

  a:link,
  a:visited {
    color: #999;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #ccc;
    border-bottom: solid 1px $accent-color;
  }
  .nav {
    margin-bottom: 3em;
  }
  .logo {
    padding-top: 3em;
  }
  .meta {
    padding-top:4em;
    padding-bottom:4em;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    line-height: 1.6em;
    color:#555;
    width:80%;

      @include bp(narrow) {
        width: 320px;
      }
      @include bp(mid) {
        width: 440px;
      }

    }

  }

 .avatar {
    width: 100px;
    height: 100px;
    border-radius: 102px;
    box-shadow: 0 0px 16px 0 rgba(255,255,255,.4);
    padding: 1px;
}

.footer-tout {
  background-color: $accent-color;
  color: #000;
  width:100%;

  .nav  {
    background-color: $accent-color;
    color: #000;
    font-size: 0;

    li {
      width: 260px;

    }
    a:link,
    a:visited {
      color: #000;
      padding-left: 2em;
      padding-right: 2em;
    }
    a:hover,
    a:focus {
      color: $accent-color;
    }
  }

}


img.avatar-upclose {

  box-shadow: 0 0px 16px 0 rgba(0,0,0,0.4);
  margin-top: -4em;
  margin-bottom: -1em;
  border: 1px solid #fff;
  width: 104px;

  @include bp(mid) {
    margin-left: -5em;
    width: 140px;
    height:140px;
    border-radius: 142px;
    border: 2px solid #fff;
  }
}


pre {
  tab-size: 2;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  overflow: auto;
}


form {
  margin-top: 2em;
  margin-bottom: 2em;

  .honey {
    visibility: hidden;
    height:1px;
    overflow:none;
  }
   label {
     display: block;
     font-size: 14px;
     text-transform: uppercase;
     color: #000;
   }
   small {
     display: block;
     text-transform: none;
     font-style: italic;
     color: #555;
   }

   input, textarea {
     width: 100%;
     border:none;
     border-bottom: dashed 1px #999;
     background-color: $accent-color;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-left: 4px;
     font-size: 16px;

      &::-moz-selection {
        color: $accent-color;
        background-color: #000;
      }
      &::selection {
        color: $accent-color;
        background-color: #000;
      }
   }

   textarea {
     height:8em;
   }

}

