
// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// $page-color : #fff;
// $page-accent-color : #ddd;
// $text-color: #222;
// $theme-color: #442;
// $accent-color : #33c;

// Colours
$page-color: #fff;
$text-color: #000;
$accent-color: rgb(255, 206, 72);
$faint-accent-color: mix($accent-color, $page-color, 15%);
$dull-accent-color: mix($accent-color, $page-color, 50%);
