---
import { getCollection } from 'astro:content';
const allBlogPosts = await getCollection('blog');
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="blog">


<ul>
{allBlogPosts.map(p => (
  <li>
    <a href={p.slug}>{p.data.title}</a>
    </li>
    ))}
</ul>
</BaseLayout>
	