<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
  <link rel="preload" href="/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="/css/style.css">
  <meta name="generator" content="{{ eleventy.generator }}">
</head>
<body class="theme-light">
  {{ content }}
</body>
</html>
