@import '_variables';
@import '_mixins';
@import '_syntax';
@import '_themes';

@font-face {
  font-family: Placard;
  src: url('/fonts/placardmtstd-cond-webfont.woff2') format('woff2'),
       url('/fonts/placardmtstd-cond-webfont.woff') format('woff');
  font-display: swap;
}


html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #444;
  font-family: Georgia, serif;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  @include bp(narrow) {
    line-height: 31px;
    font-size: 16px;
  }
  @include bp(wide) {
    display: flex;
    flex-direction: row;
  }
}

.sidebar {
  @include bp(wide) {
    width: 45%;
    min-height: 100vh;
  }
  header {
    position: sticky;
    top:0;
  }
}

.main {
  background-color: #fff;
  @include bp(wide) {
    width: 55%;
  }
}

.container,
.sidebar-container {
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  @include bp(mid) {
    width: 70%;
    max-width: 700px;
  }
  @include bp(wide) {
    width: 60%;
    max-width: 600px;
  }
}
.container {
  padding-top: 3em;
  padding-bottom: 4em;
  @include bp(wide) {
    margin-left: 4em;
  }
}
.sidebar-container {
  @include bp(wide) {
    margin-right: 3em;
  }
}


.page-details {
  margin-top: 5em;
  padding-bottom: 5em;
  @include bp(narrow) {
    max-width: 80%;
  }
  @include bp(mid) {
    max-width: 450px;
  }
  @include bp(wide) {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

ul, ol {
  padding-left:1em;
}

ul.tags {
  list-style: none;
  margin-top:0.5em;
  margin-left:0;
  padding-left:0;
  font-size: 0.9em;

  li {
    line-height: 1.5;
  }
}
a.tag {
  &:link,
  &:visited {
    border-bottom-style: none;
  }
}

// Headings
h1, h2, h3, h4 {
  font-family: arial, sans-serif;
  padding-top:1em;
  line-height: 1.2;
}
h1 {
  font-family: Placard, arial, sans-serif;
  font-size: 3.8em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
  margin-top:0;
  margin-bottom:0;
  padding-top:0.3rem;
  padding-bottom:0.4rem;
}
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

.no-wrap {
  white-space: nowrap;
}

.avatar-large {
  width: 120px;
  border-radius: 4px;
  border:solid 2px #fff;
  box-shadow: #000 0 0 4px;
}

.main {
  img {
    width: 100%;
    padding-top:1em;
    padding-bottom:1em;
  }
}

.by-line {
  font-size: 0.8em;
}

.excerpt {
  font-style: italic;
  font-size: 1.1em;
}

blockquote {
  margin-left: 0;
  padding: 0.01em 1.5em;
  border-left-style: solid;
  border-left-width: 0.8em;
}

.phonetic {
  font-size: 1.5rem;
  margin-top:0;
}

hr {
  border-style: none;
  border-bottom: solid 1px #eee;
  margin: 2em 0;
}

form {
  border-radius: 2px;
  padding: 1em 2em;
  margin: 2em -2em 1em -2em
}
label small {
  opacity: 0.6em;
  display: block;
}
input,
textarea {
  width: 100%;
  border: solid 1px #bbb;
  padding: 0.2em;
  font-size: 1.2rem;
}
textarea {
  height: 8rem;
}

.btn,
button {
  cursor: pointer;
  font-size: 1em;
  background-color: #555;
  color:#fff;
  font-family: Georgia, serif;
  border-style: none;
  padding: 0.5em 1em;
  border-radius: 3px
}
.honey {
  display:none;
}
.needs-content {
  border-color: #af2a40;
}

.blog-list-item {
  padding: 1em 0 2em;
  h2,h3 {
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
  }
  .by-line {
    margin-bottom: 0;
  }
  .grab {
    margin-top: 1em;
    margin-bottom: 0;
  }
  img {
    margin:0;
    padding:0;
  }
}
img.flag {
  width: 1em;
}

a.more-link {
  background-color: #eee;
  display:inline-block;
}

img.external-link {
  width: 0.8em;
  padding-left:0.4em;
  vertical-align: middle;
  opacity: 0.3;
}
h2 img.external-link {
  width: 0.6em;
}

.tweet {
  font-size: 0.9em;
  background-color: rgba(0,0,0,0.03);
  border-radius: 4px;
  padding: 2em 2em 1em;
  margin: 1em -2em 0.5em;
}



// Header
header {

  ul.nav {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    list-style: none;
    margin:0;
    padding:0;
    li {
      display: inline;
    }
    a {
      display:inline-block;
      padding: 4em 0.5em 0.2em 0.5em;
      border-bottom-style: none;
    }
    a.home {
      padding-left:0.7em;
      padding-right:0.7em;
    }
    a.blog {
      padding-left:1em;
    }
  }
}

.search-ui,
.teaser {
  font-size:1.4em;
  margin:0 0 2em 0;
  padding: 0.5em 1em;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.05);
  span {
    display: block;
  }
  a {
    color: #fff;
  }
}

.invisible {
  display: none;
}

.search-ui {
  margin: 1em -1em;
  padding-top: 1em;
}
.search-results {
  font-size: 0.8em;
}

pre {
  overflow: auto;
}

// footer
footer {

  .solid-footer{
    font-size: 0.7em;
    line-height: 1.5;
    padding: 3em 0;
  }


  @include bp(wide) {
    position: fixed;
    width: 45%;
    bottom: 0;
    left: 0;

  }
  .container {
    padding: 0;
    @include bp(wide) {
      margin-right: 3rem;
      margin-left: auto;
    }
  }
}

.thumbnail-grid {

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  a:link,
  a:visited {
    border-bottom-style:none;
    width: 22%;
    &:hover img,
    &:focus img {
      filter: grayscale(0%);
    }
  }

  img {
    // width: 100%;
    border: solid 4px #fff;
    padding:0;
    margin:0;
    filter: grayscale(90%);
    transition-duration: 0.5s;
  }
}


.embed-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-top:2em;
}
.embed-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*
 base colours
*/
html {
  background-color: mix(#333, #fff, 20%);
}
a {
  border-bottom-color: #9bf;
  &:link,
  &:visited {
    color: #46c;
  }
  &:hover,
  &:focus {
    color: #2755de;
    border-bottom-color: #2755de;
  }
}
blockquote {
  border-left-color: mix(#333, #fff, 10%);
}
.solid-footer {
  color: mix(#333, #fff, 40%);
  background-color: #333;
  @include bp(wide) {
    background-color: rgba(0,0,0,0.05);
  }
  a {
    color: #fff;
    border-style: none;
  }
}
.blog-list-item h2 a ,
.blog-list-item h3 a {
    color: #444;
}
form {
  background-color: #f9f9f9;
}
.sidebar {
  background-color: #333;
  color: mix(#333, #fff, 20%);
  h1 {
    color: #fff;
  }
  a {
    color: #fff;
    border-color: #fff;
  }
  a.home {
    color: #333;
    // color:rgba(var(--theme-base));
    background-color: #fff;
  }
  ul.nav {
    a:hover { background-color: rgba(255,255,255,.06); }
    a.home:hover { background-color: #fff; }
  }
}

a.floating-lozenge {
  border-style:none;
  img {
    border-radius: 5px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.37);
    padding-top: 0;
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    img {
      box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.45);
    }
  }
}
