<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/main.css" %}</style>
    <title>{{ title }}</title>
  </head>
  <body class="{{ pageClass }}" >
    {% block sidebar %}
    <div class="sidebar">
      <header>
        <div class="sidebar-container">
          {% include "navigation.njk" %}
          {# page title and meta data #}
          <div class="page-details">
            <p class="date">{{ date | dateDisplay }}</p>
            <h1>{{ title }}</h1>
            {% for tag in tags %}
              <li><a href="/tags/{{ tag }}"># {{ tag }}</a></li>
            {% endfor %}
          </div>
        </div>
      </header>
    </div>
    {% endblock %}
    <div class="main">
      <div class="container">
      {% block main %}
      {{ content | safe }}
      {% endblock %}
      </div>
    </div>
  </body>
</html>



