<!doctype html>
<html lang="en" class="{{ pageClass }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/_static/fonts/placardmtstd-cond-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <style>{% include "css/main.css" %}</style>
    <title>Hawksworx {{ title }}</title>
  </head>
  <body >
    <div class="sidebar">
      <header>
        <div class="sidebar-container">
          {% include "navigation.njk" %}
          <div class="page-details">
          {% block sidebar %}
          {% endblock %}
          </div>
        </div>
      </header>
    </div>
    <div class="main">
      <div class="container">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
      <footer>
        {# tese the previous post here? #}
        <div class="solid-footer">
          <div class="container">
            <p>
              The <a href="{{ pkg.repository.url }}" target="new" rel="noopener">source code</a> of this site is available on Github and served on the JAMstack by <a href="https://www.netlify.com" target="new" rel="noopener">Netlify</a>.
            </p>
            <p>
              Other than where specified, the content on this site is published under a <a href="http://creativecommons.org/licenses/by/3.0/" target="new" rel="noopener">Creative Commons Attribution 3.0</a> licence.
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>



