---
layout: layouts/base.njk
templateEngineOverride: njk, md
---

{% block content %}
  <div class="post">
  <div class="excerpt">
    {{ content | section | safe }}
  </div>
  {{ content | section('remainder') | safe }}
</div>
{% endblock %}

