---
layout: layouts/base.njk
pageClass: post
templateEngineOverride: njk, md
---

{% block content %}
<div class="excerpt">
  {{ content | section | safe }}
</div>
{{ content | section('remainder') | safe }}
{% endblock %}

