<div class="social-post">
  <a href="{% socialLink post.platform, 'philhawksworth' %}" class="avatar"><img src="/images/philhawksworth-goon.jpg" alt="A photo of Phil Hawksworth's face"></a>
  <div class="main">
    <div class="meta">
      <span class="author-name">Phil Hawksworth</span>
      <a href="{% socialLink post.platform, 'philhawksworth' %}" class="author-handle">@philhawksworth</a> &#8226;
      <time datetime="{{ post.created_at }}">
        <a href="{% socialLink post.platform, 'philhawksworth', post.id %}">{{ post.created_at | dateDisplay }}</a>
      </time>
      {% if post.in_reply_to_status_id %}
        replying to <a href="{{ post.in_reply_to_status_id }}">this from @{{post.in_reply_to_screen_name}}</a>
      {% endif %}
    </div>
    <div class="content">
      {{ post.full_text.replaceAll("\n", "<br />")  | safe }}
    </div>
    <div class="media">
      {% for item in post.media %}
        <img src="{{item.url}}" alt="Embedded image from social media" />
      {% endfor %}
    </div>
    <ul class="permalinks">
      <li><a href="/note/{% if post.platform == 'twitter' %}tw{% else %}mstdn{% endif %}/{{post.id}}">Permalink</a></li> |
      <li><a href="{% socialLink post.platform, 'philhawksworth', post.id %}">{{ post.platform | capitalize }}</a></li>
    </ul>
  </div>
</div>
