
main,
footer {
  padding: 1rem;
}

main {
  padding-top:3em;
  padding-bottom:3em;
  background-color: white;
}

header {
  margin:0;
  padding:0;
}
footer {
  margin:0;
}

main.post {
  text-align: center;
  
  article {
    text-align: left;
    
    @include bp(mid) {
      width: 600px;
      margin: 0 auto;  
    }
    header {
      text-align: center;
      @include bp(mid) {
        margin: 0 -10em 2em; 
      }
    }
  }
  
}
