@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}


html {
  font-family: 'Mona Sans';
}

body {
  font-size: var(--size-500);
  line-height:1.7;
  font-variation-settings: "wght" 400, "wdth" 100;
}

h1 { font-size: var(--size-800); };
h2 { font-size: var(--size-700); };
h3 { font-size: var(--size-600); };

h1, h2, h3 {
  font-variation-settings: "wght" 750, "wdth" 180, "ital" 6;
  line-height:1.2;
  margin-bottom: 0.6em;
  text-wrap: pretty;
}

main {
  color: #333;
}

p {
  margin-bottom: 1em;
}
