---
permalink: links/feed.json
---

"links" : [
{%- for item in collections.links -%}
  {
    url : "{{ item.url }}",
    title : "{{ item.data.title }}",
    content : '{{ item.templateContent | escape }}'
  }
{%- endfor -%}
]
