---
layout: base
pageclass: blog
---

{{ page.content }}


<h2 class="comments">Comments</h2>
<p>
  <a href="#comment-form">Let me know</a> your thoughts using the form below.
</p>
<ul class="listing comments">
  {% for comment in site.data.comments.sessions %}
    {% if comment.path == page.url %}
    <li>
      <img src="{{ comment.avatar }}" alt="{{ comment.name }}">
      <time datetime="{{ comment.created | date_to_xmlschema }}">{{ comment.created | date_to_long_string  }}</time>
      {% if comment.url %}
        <a href="{{ comment.url }}" class="commenter">{{ comment.name }}</a>
      {% else %}
        <span class="commenter">{{ comment.name }}</span>
      {% endif %}
      <div>
        {{ comment.comment }}
      </div>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<form action="http://pooleapp.herokuapp.com/data/5420ae49-e1f7-49de-b094-b4fce4e8156c/" method="post" id="comment-form"class="comment-form">

  <h2>Leave your comment</h2>
  <p>
    <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a> is allowed. Spam is not.
  </p>

  <input type="hidden" name="redirect_to" value="/search" />
  <input type="hidden" name="path" value="{{ page.url }}" />
  <label for="name">name</label><input type="text" name="name">
  <label for="url">website</label><input type="text" name="url">
  <label for="email">email</label><input type="text" name="email">
  <label for="comment">comment</label><textarea name="comment" class="comment-text"></textarea>
  <input type="submit" value="Post comment" class="submit" />
</form>
