---
layout: base
pageclass: blog
---



 <form action="http://getsimpleform.com/messages?form_api_token=22611b33323234eaced7604688874f21" method="post">
   <input type='hidden' name='redirect_to' value='http://{{ site.url }}:8000{{ page.url }}' />
   <label for='name'>Name</label>
   <br />
   <input type='text' id='name' name='name' placeholder='Your Name' />
   <br />
   <label for='email'>Email</label>
   <br />
   <input type='text' id='email' name='email' placeholder='Your Email' />
   <br />
   <label for='email'>Message</label>
   <br />
   <textarea id='message' name='message' placeholder='Message' rows='8' cols='50'></textarea>
   <br />
   <input type='submit' value='Submit' />
 </form>

{% simplecomments %}
	<div>
		<h3>{{ item.name }} </h3>
		<h4>{{ item.date }}</h4>
		<div>{{ item.message }}</div>
	</div>
{% endsimplecomments %}



<div class="post">
{{ content }}
</div>


