---
layout: base
pageclass: blog
---


<article>
	<aside>
		<p>Blog posts tagged {{ page.tag }}</p>
	</aside>


	<div class="post-content">
		{% for post in site.posts %}{% for tag in post.tags %}{% if tag == page.tag %}
	  		{% include post_teaser.html %}
		{% endif %}{% endfor %}{% endfor %}


		<h2>Other tags:</h2>
		<ul>
		{% for tag in site.tags | sort %}
			{% assign t = tag.first %}
			{% assign posts = tag.last %}
			<li><a href="/blog/tag/{{ t }}">{{ t }}</a> ({{ posts | size }})</li>
		{% endfor %}
		</ul>
	</div>
</article>

