<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
  
  </header>
  <main>
  {{content}}
  </main>
  <footer>
    <ul class="social">
      <li><a href="https://indieweb.social/@philhawksworth">Mastodon</a></li>  
      <li><a href="https://x.com/philhawksworth">Twitter</a></li>  
      <li><a href="https://linkedin.com/in/philhawksworth">LinkedIn</a></li>  
    </ul>
  
    <ul class="site-resources">
      <li><a href="/styleguide/">styles</a></li>  
      <li><a href="/colophone">colophone</a></li>  
    </ul>
  </footer>
</body>
</html>
