<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style>{% getBundle "css" %}</style>
</head>
<body>
  <header>
  {% render "navigation.liquid" %}
  </header>
  <main>
  {{content}}
  </main>
  <footer>
    <ul class="social">
      <li><a href="/">Mastodon</a></li>  
      <li><a href="/">Twitter</a></li>  
      <li><a href="/">LinkedIn</a></li>  
    </ul>
    {% render "navigation.liquid" %}
  </footer>
</body>
</html>

