---
layout: layouts/base.vto
---
<section>
  <hgroup>
    <h1>Posts tagged: {{tag}}</h1>
    <p>Browse <a href="/blog/tags/">all tags</a> instead</p>
  </hgroup>
</section>
<hr>
<section>
  <h2><a href="/blog/tags/{{tag}}" class="tag">{{tag}}</a></h2>
  <ul>
  {{ for post of search.pages(tag) }}
    <li><a href="{{post.url}}">{{ post.title }}</a></li>
  {{ /for }}
  </ul>
</section>
  
