---
layout: layouts/base.vto
---
<section>
  <hgroup>
    <h1>Tag: {{tag}}</h1>
    <p>All post tagged with <em>{{tag}}</em>.<br>
    You can also <a href="/blog/tags/">browse all tags</a></p>
  </hgroup>
</section>
<hr>
<section>
  <h2><a href="/blog/tags/{{tag}}" class="tag">{{tag}}</a></h2>
  <ul>
  {{ for post of search.pages(tag) }}
    <li><a href="{{post.url}}">{{ post.title }}</a></li>
  {{ /for }}
  </ul>
</section>
  
