<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    <script src="/js/hawksworx.js" async defer></script>
    {{ partial "opengraph.html" . }}
  </head>
  <body class="{{ .Section }}">
    {{ partial "header.html" . }}
    {{ block "hero" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    <footer>
      {{ block "footer-tout" . }}{{ end }}
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
