<p>
  The source code of this site is available on <a href="https://www.github.com/philhawksworth/hawksworx.com" target="new" rel="noopener">GitHub</a> and is hosted and updated by <a href="https://www.netlify.com" target="new" rel="noopener">Netlify</a> automatically after each <a href='https://www.github.com/philhawksworth/hawksworx.com/commit/master' target="new" rel="noopener">code commit</a>
</p>
<p>
  Other than where specified, the content on this site is published under a <a href="http://creativecommons.org/licenses/by/3.0/" target="new" rel="noopener">Creative Commons Attribution 3.0 licence</a>.
</p>
<p>
  <a href="/feed.xml">Subscribe to a feed</a> of blog posts on this site.
</p>

