{{ define "hero" }}
<div class="hero hero-{{ .Params.section }}">
    <div class="container">
      <h1>{{ .Params.displayName }}</h1>
      <div class="tags">
        tagged:
        <ul>
        {{ range .Params.tags }}
          <li><a href="/tags/{{ . }}">{{ . }}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}

{{ define "main" }}
<div class="content container link">

  <h3>{{ .Params.displayName }}</h3>
  <p class="link-permalink">
    <a href="{{ .Params.link }}" target="_BLANK" rel="noopener">
      <img src="/images/web-link.svg" alt="Permalink to this item" />
      {{ .Params.link }}</p>
    </a>
  <p>{{ .Content | markdownify }}</p>

</div>
{{ end }}

