body {
  padding: 0;
  margin: 0; 
  background-color: #fff;
}
header {
  background-color: var(--color-page);
  margin:0;
  padding: 1.5rem 1.5rem;
}
main {
  padding:0 1.5em 4em;
  background-color: var(--color-page);
  section {
    width:95%;
    margin:0 auto;
    max-width: 700px;
  }


}
footer {
  padding: 4em 4em 8em;
  background-color: #fff;
  color: var(--color-grey-lighter);
  display: flex;
  flex-direction: row;
  justify-content: spoace-between;
  gap: 1em 4em;
  flex-wrap: wrap;

  ul {
    margin: 0.5rem 0;
    padding:0;
  }

  .social {
    display: flex;
    gap:1em;
    margin-top:1rem;
  }
  
  .legal {
    flex-grow: 3;
    font-size: 0.8em;
    p {
      width:55ch;
    }
    
    @media screen and (min-width:670px) {
      border-left: 1px solid var(--shade-down-2);
      padding-left: 4em;
    }
    
  }
}

.social-note {
  background-color: #fff;
  margin: 0 0.1em;
  box-shadow: 0 2px 0.8em var(--shade-down-2);
  border: solid 0.5px var(--color-text);
  border-radius: 6px;
  margin: 2em 0;
  padding: 0;
  font-size: 0.8em;
  
  &:hover {
    box-shadow: 0 2px 0.8em var(--shade-down-3);
  }

.note-content {
  padding:1em 2em;
  margin:0;
}

.note-meta {
    margin:0;
    padding: 0.5em 2em;
    background: var(--shade-down-1);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 0.8em;
  }
}
