---
---
<footer>
  <section>
    <h2>
      Links and acknowledgements
    </h2>
  </section>
  <section>
    <div>
      <h3>Written and published by</h3>
      <p><a href="/phil-hawksworth/">Phil Hawksworth</a></p>
    </div>
  </section>
  <section>
    <h3>Typography</h3>
    <ul>
      <li><a href="https://github.com/googlefonts/BevanFont">Bevan Font</a> by <a href="https://www.sansoxygen.com">Vernon Adams</a></li>
      <li>Sourced from <a href="https://fonts.google.com/">Google Fonts</a></li>
      
    </ul>
  </section>
  <section>
    <h3>hawksworx.com</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/speaking/">Speaking</a></li>
      <li><a href="/roadmap/">Roadmap</a></li>
      <li><a href="/styleguide/">Styleguide</a></li>
    </ul>
  </section>
  <section>
    <h3>Subscriptions</h3>
    <ul>
      <li><a href="/feed">Hawksworx blog RSS</a></li>
      <li><a href="https://x.com/philhawksworth">Phil Hawksworth on Twitter</a></li>
    </ul>
  </section>
  <section>
    <h3>Version control</h3>
    <ul>
      <li><a href="https://github.com/philhawksworth/hawksworx.com">GitHub</a></li>
      <li><a href="https://github.com/philhawksworth/hawksworx.com">Latest revision</a></li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>Hosting and automation courtesy of</h3>
    <p><a href="https://www.netlify.com/">Netlify</a></p>
  </div>
</section>
<section>
  <div>
    <h3>Usage and attribution</h3>
    <p>Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a> license, 2024</p>
  </div>
</section>
</footer>

<style>

footer {
  background-color: #000;
  color: #ccc;
  text-align: center;
  padding: 5em 0;
}

section {
  margin: 14em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

section > * {
  width: 50%;
}
section > h3 {
  text-align: right;
}

h2, h3, h4 {
  font-size: 1em;
  font-weight: normal;
  color: #999;
}

h2 {
  color: #ddd;
}

p {
  margin: 0;
  padding: 0.5em;
}

a:link,
a:visited {
  color: #ddd;
  text-decoration-color: #555;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration-color: #fff;
}

ul {
  text-align: left;
  list-style: none;
}

</style>
