<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/speaking/">speaking</a></li>
  <li><a href="/roadmap/">Roadmap</a></li>
  <li><a href="/styleguide/">Styleguide</a></li>
</ul>
