---
title: Blog
layout: layouts/page.njk
---


## Blog

{%- for post in collections.posts -%}
{% PostTitle {
  title: post.data.title,
  date: post.data.date,
  href: post.url,
  tags: 'array soon',
  theme: 'red'
} %}

{%- endfor -%}

{# <ul class="listing">
{% set year = 0 %}
{%- for item in collections.blogposts -%}
  <li>
    {% if year != item.data.date | dateDisplay('year') %}
    <h2>{{ item.data.date | dateDisplay('year') }}</h2>
    {% set year = item.data.date | dateDisplay('year') %}
    {% endif %}
    <a href="{{ item.url }}">{{ item.data.title }}</a>
    <div class="tags">
    {%- for tag in item.data.tags -%}
    <a class="tag"  href="/tags/{{tag}}">{{tag}}</a>
    {% endfor -%}
    </div>
    {# <time datetime="{{ item.date }}">{{ item.date | dateDisplay }}</time> #}
  {# </li>
{%- endfor -%}
</ul> #}
