{{ define "hero" }}
<div class="hero hero-{{ .Params.section }}">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p class="subtitle">{{ .Params.subtitle }}</p>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="content container">
  {{ .Content }}
  <h2>Freshness</h2>
  <p>
    The most recent updates to this site were made on {{ .GitInfo.AuthorDate.Format "2 Jan, 2006 at 15:04" }}. You can <a href="https://github.com/philhawksworth/hawksworx.com/commit/{{ .GitInfo.Hash }}">view them in the site's Git repository</a>
  </p>
</div>
{{ end }}
