<div class="callout">
  <div class="logo">
    <h1>Hawksworx</h1>
    <p class="subtitle">web noodlings from <a href="/about">Phil Hawksworth</a></p>
  </div>
</div>
<img src="/images/philhawksworth-goon@2x.jpg" alt="Phil Hawksworth's face" class="avatar" />
<div class="meta">
  <p> The source code of this site is available to view and fork on <a href="https://www.github.com/philhawksworth/hawksworx.com">Github</a> and served on the <a href="https://www.jamstack.org">JAMstack</a> by <a href="https://www.netlify.com">Netlify</a>.</p>
  <p>Other than where specified, the content on this site is published under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> licence.</p>
</div>
