<ul class="nav">
  <li><a class="home" href="/">HAWKSWORX<p class="hint">web noodlings from Phil Hawksworth</p></a></li>
  <li><a class="blog" href="/blog">Writing<p class="hint">blog posts &amp; announcements</p></a></li>
  <li><a class="speaking" href="/speaking">Speaking<p class="hint">conferences &amp; meetups</p></a></li>
  <li><a class="links" href="/links">Links<p class="hint">notes and resources</p></a></li>
  <li><a class="about" href="/about">About<p class="hint">about the author</p></a></li>
</ul>
