::selection { background: var(--color-tertiary-hint); }

html {
  background-color:  var(--color-primary);
}
body {
  // border-top: 4px solid var(--color-primary);
  // border-bottom: 4px solid var(--color-primary);
  background-color: var(--color-bg-1);
}


hr {
  margin: 2em 0;
  border-top: 0;
  border-bottom: solid 1px var(--color-bg-1);
}

// Roadmap
.done::before {
  content: "✔︎";
}
 

a:link,
a:visited {
  text-decoration-color: var(--color-secondary-hint);
  color: var(--color-text);
  text-underline-offset: 3px;
  display: inline-block;
  padding-left: 0.15em;
  padding-right: 0.15em;
  margin-left: -0.15em;
  margin-right: -0.15em;
}
a:hover,
a:focus {
  text-decoration: none;
  background-color: var(--color-secondary-hint);
}

.cta {
  background-color: aquamarine;
}

.pancake {
  color: var(--color-bg);
  background-color: var(--color-text);
  margin: 0 -1rem;
  padding: 2em
}


article {

  header {
    font-size: var(--size-400);
    margin: 1rem auto 2rem;
    font-variation-settings: "wght" 600;
  }
  
  header p {
    color: var(--color-grey-4);    
  }

  time,
  .author {
    color: var(--color-grey-5);    
    white-space: nowrap;
  }

  img {
    max-width: 100%;
    margin: 3em;
    margin-left:0;
    box-shadow: 0em 0.5em 2em #e0e0e0;
    @include bp(mid) {      
      max-width: 130%;
      margin-left: -15%;
    }
  }

  figure {
    margin-bottom: 3em;
    text-align: right;
    img {
      margin-bottom:0.4em;
    }
  }
  figcaption {
    font-size: var(--size-300);
    @include bp(mid) {    
      max-width: 130%;  
      margin-right: -15%;
    }
  }
  


}


ul.tags {
  margin:0 0 2em;
  padding:0;
  list-style: none;

  a:link,
  a:visited {
    text-decoration-color: var(--color-primary-hint);
  }
  a:hover,
  a:focus {
    background-color: var(--color-primary-hint);
  }

  li {
    display: inline-block;
    margin:0;
    padding:0.15rem 0.3rem;
  }
  li:hover {
    background-color: var(--color-primary-hint);
  }
  li::before {
    content: "\26CA";
    color: var(--color-grey-4);
    margin-right:0.2em;
  }
  li:hover::before {
    background-color: var(--color-primary-hint);
  }
}


//
// Header
//

body>header {

  background-color: var(--color-bg);
  border-bottom: solid 1px var(--color-bg-1);
  max-width: 600px;
  
  ul {
    list-style: none;
    padding: 0;
    margin:0;
    font-size: var(--size-300);
    // margin: 1rem auto 2rem;
    
    li {
      display:inline-block;
    }
    
    a:link,
    a:visited {
      font-variation-settings: "wght" 600;
      display: inline-block;
      line-height:4;
      padding: 0 1em;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
      text-decoration-color: var(--color-tertiary);
      background-color: var(--color-bg-2);
    }

    a.home {
      background-color: var(--color-bg-negative);
      color: var(--color-bg);
    }
  }
}
