
html, body {
    margin: 0;
    padding: 0;
}

body {
    border-top: solid 4px $link-color;
}

header,
footer {
    padding: $content-buffer 0 0;
    background-color: #eee;
    border-top:1px solid #fff;
    border-bottom:1px solid #ccc;
    text-align: center;

    p {
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        line-height: 1;
        color: lighten($base-color, 40%);
    }
}

footer {
    background-color: darken($base-color, 10%);
    color: #bbb;
    border-style: none;
    margin-top: 2*$content-buffer;

    .colo {
        padding: $content-buffer;
        background-color: darken($base-color, 20%);
        line-height: 1.6;
        padding-bottom: 4em;
        color: #ddd;
    }
}

.nav {
    margin: 0 $content-buffer;
    padding: $content-buffer 0;
    padding-left:0.5em;

    li {
        display: inline;
        margin-right:0.5em;
        padding: 0;
    }
}

.home .nav .home,
.blog .nav .blog,
.speaking .nav .speaking,
.search .nav .search {
    border-bottom-width: 3px;
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        color: $link-color;
        padding-bottom: 0.05em;
        border-bottom: solid 1px lighten($link-color, 20%);
    }
    &:hover,
    &:focus {
        color: $accent-color;
        padding-bottom: 0.15em;
        border-bottom: solid 1px lighten($accent-color, 20%);
    }
}


.post {

    h1 {
        margin: $content-buffer;
    }
    aside {
        margin: 0 $content-buffer;
        font-size: 0.8em;
    }
    aside time,
    aside address {
        display: inline;
    }
    aside p {
        margin:0;
        padding:0;
    }
    .post-content {
        margin: $content-buffer;
    }
    .excerpt {
        font-size: 1.1em;
        font-style: italic;
    }
    .meta {
        font-size: 0.8em;
        background-color: #eee;
        padding: $content-buffer/2;
    }

}

figure ,
blockquote {
    margin-left: -$content-buffer;
    margin-right: -$content-buffer;
}
figure img {
    width:100%;
}
figcaption {
    font-size: 0.7em;
    margin:0 $content-buffer;
}
blockquote {
    background-color: #eee;
    padding: $content-buffer;
    font-style: italic;
    border-left: 10px solid lighten($link-color, 20%);
}

.highlight {
    background-color: #eee;
    margin-left: -$content-buffer;
    margin-right: -$content-buffer;
    padding: 0 $content-buffer;
    overflow:auto;
    font-size:0.75em;
}


