* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font: normal 16px/1.5 'Myriad Pro', Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #fff;
}

.header {
  background-color: $accent-color;
  padding: 0 $content-buffer $content-buffer;
  margin: 0;
  background-image: linear-gradient(to top, $accent-color, darken($accent-color, 15%));
  color: #fff;
  text-align: left;
  position: relative;
}

  .header::before,
  .footer::before {
    content: "";
    width: 100%;
    height: 100%;
    -webkit-transform: skew(-15deg);
       -moz-transform: skew(-15deg);
         -o-transform: skew(-15deg);
    position: absolute;
    left: -70%;
    top: 0;
    z-index: 0;
    background: rgba(0,0,0,0.1);
  }



h1, h2, h3, h4 {
  font-family: "league_gothicregular", arial;
  text-transform: uppercase;
  color: #333;
  line-height: 0.9;
}
h1 {
  font-size: 3.4em;
  font-weight: normal;
  line-height: 0.9;
  margin:2em 0 0;
  color:#fff;
}
h2, h3, h4 {
  margin: 1em 0 0.4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.2em;
}

ul.nav  {
  list-style: none;
  font-size: 0.9em;
}
.nav li {
  display: inline;
  margin: 0 0.2em;
}
.nav a:link,
.nav a:visited {
  color: #fff;
  text-decoration: none;
}
.nav a:hover,
.nav a:focus {
  text-decoration: underline;
}
.nav a.home:link,
.nav a.home:visited {
  display:inline-block;
  padding:3em 0.4em 0.1em;
  background-color: #fff;
  color: #c00;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.meta {
  font-size: 0.75em;
  margin: 0.4em 0;
  line-height: 1.1em;
}
.meta a:link,
.meta a:visited {
  text-decoration: none;
  color: #fff;
  border-bottom: dotted 1px #fff;
}

.content {
  padding: $content-buffer;
}

figure {
  margin: $content-buffer;
  margin-left: -$content-buffer;
  margin-right: -$content-buffer;

  img {
    width: 100%;
  }
  figcaption {
    font-size: 0.8em;
    font-style: italic;
    padding: 0.2em 1em;
  }

}



.content p,
.footer p  {
  margin:0 0 1em;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.grab {
  font-size: 1.2em;
  font-style: italic;
}

blockquote {
  background-color: #eee;
  padding: 24px $content-buffer 24px 10px;
  margin-top: $content-buffer;
  margin-bottom: $content-buffer;
  margin-left: -$content-buffer;
  margin-right: -$content-buffer;
  border-left: solid 6px #aaa;
}

.credits {
  background-color: #eee;
  color: #333;
  font-size: 0.9em;
  font-style: italic;
  padding: $content-buffer;
  margin-top: 1em
}

.footer {
  background-color: #292929;
  color: #aaa;
  padding: 2em 0 0;
  font-size: 0.8em;
  position:relative;

}

.footer .container {
  padding: $content-buffer $content-buffer 0;
}

.footer h2 {
  color: #fff;
  margin-top:0;
}

.footer div.nav {
  background-color: #222;
  margin:3em 0 0;
  padding: 1em 0 0 0;
  // position: inherit;
}

.footer .nav a:link,
.footer .nav a:visited {
  color: #ccc;
}

.footer .nav a.home:link,
.footer .nav a.home:visited {
  padding:0.1em 0.4em 3em;
  color: #222;
  background-color: #f0f0f0;
}

.credits a:link,
.credits a:visited,
.content a:link,
.content a:visited {
  text-decoration: none;
  color: #900;
  border-bottom: dotted 1px #900;
}

.credits a:hover,
.credits a:focus,
.content a:hover,
.content a:focus {
  color: #c00;
  border-bottom: dotted 1px #c00;
  background-color: #fee;
}

.content {
  ul,
  ol {
    margin: 0 1em 1em;
  }
}

.listing {

  margin:1em 0 3em;

  h2 {
    margin:0;

    a {
      &:link,
      &:visited {
        color: #000;
        border-bottom-style: none;
        display: inline-block;
      }
      &:hover,
      &:focus {
        color: #fff;
        background-color: #000;
        padding: 6px 8px;
        margin: -6px -8px;
      }
    }

  }

  .grab {
    font-style:normal;
    font-size: 1em;
    margin: 1em 0;
  }

}


  li.search a {
    /*display: none;*/
  }

  .searchform {
    display: inline-block;
    display: none;
    background-color: rgba(0,0,0,0.2);
    padding: $content-buffer $content-buffer $content-buffer;
    border-radius: 4px 4px 0 0;
    margin-top:$content-buffer;
  }
  .searchform .q {
    background-color: #fff;
    border-style: none;
    font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
    padding: 0.2em 0.4em 0.1em;
    color: #c00;
    font-size:1em;
  }
  .searchform .q:focus {
    outline: none;
  }

  .search-results {
    display: none;
    background-color: rgba(0,0,0,0.2);
    padding: $content-buffer;
    border-radius: 6px;
  }

  .search-results .listing {
    border-style: none;
    margin:0;
  }

  .search-results .listing li {
    border-style: none;
    padding: 0.2em;
  }

  .search-results ul.listing time {
    color: rgba(255,255,255,0.6);
  }
  .search-results a:link,
  .search-results a:visited {
    color: #fff;
    text-decoration: none;
  }
  .search-results a:focus,
  .search-results a:hover {
    text-decoration: underline;
  }

  /* The traditional search form */
  form.search {
    margin: 1em 0;
    padding:2em;
    background-color: #eee;
    border-radius: 2px;

    input {
      font-size: 1.2em;
      font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
      padding: 0.2em;
      margin:0.2em;
      color: #555;
      width: 60%;
    }
    .submit {
      border: solid 1px #999;
      padding:0.2em 1em;
      border-bottom-width: 2px;
      color: #555;
      cursor: pointer;
      background-color: #ccc;
      width: auto;
    }
    .submit:hover,
    .submit:focus {
      background-color: #c0c0c0;
      color:#444;
    }
  }

  aside {
    font-style: italic;
    color: #666;
    margin:1em 0;
  }


.footer a:link,
.footer a:visited {
  color: #fff;
}

.howdy,
.colo {
  display: inline-block;
  margin:2em 0 0;
  vertical-align: top;
  position:relative;
}

.face {
  display: none;
}

h1.shout {
  font-size: 4em;
  margin-top:1em;
}


ul.listing {
  margin: 1em 0 3em;
  list-style: none;
  border-top: 1px solid #eee;
}
ul.listing li {
  padding: 0.8em 0;
  border-bottom: 1px solid #eee;
}
ul.listing time {
  display: block;
  color:#bbb;
  font-size: 0.8em;
}


div.highlight {
  font-size: 0.9em;
  padding: 1em;
  overflow:auto;
  border: 1px solid #d5d5e9;
  background-color: #eef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}






ul.comments {
  img {
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    padding: 2px;
    margin-right: 8px;
    float:left;
  }
  .commenter {
    float:left;
  }
  div {
    display: block;
    clear: left;
    padding-top: $content-buffer;
  }
}



    .comment {

      ul li {
        border-style: none;
        padding: 0;
        margin:0;
      }

      h1, h2, h3, h4, h5 {
        color: #333;
        margin:1em 0 0.5em;
        font-size: 1em;
      }

      h1 {
        font-size: 1.8em;
      }
      h2 {
        font-size: 1.6em;
      }

      code {
        display: block;
        padding: 1em;
        font-size: 0.7em;
        background-color: #333;
        color:#eee;
      }


  }


.comment-form {

  background-color: #eee;
  padding: 1px 32px 32px 32px;

  label {
    display:block;
    color:#666;
    margin-top: 0.6em;
    font-size: 0.9em;

    span {
      color: #aaa;
      margin-left:0.2em;
    }
  }

  input, textarea {
    font-size: 1em;
    width: 100%;
    padding:  0.2em 0.4em;
  }

  .submit {
    margin-top: 0.6em;
    background-color: #333;
    color:#eee;
    padding: 0.6em;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;

    &:hover {
      background-color: $accent-color;
      color: #fff;
    }
  }

  textarea {
    width: 100%;
    height: 10em;
  }

}

.lobsterpot {
  position: relative;
  overflow: hidden;
  padding:0;
  margin:0;
  height: 1px;
}

.lobsterpot input {
  border-style: none;
}




@media all and (min-width: 400px) {

  figure {
    margin: 1em 0;
  }

  .howdy,
  .colo {
    padding-left: 100px;
  }

  .face {
    display: block;
    position:absolute;
    left:0;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 88px;
    border: solid 2px #ddd;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.8);
    border: solid 2px #eee;
    padding:2px;
  }

}



@media all and (min-width: 500px) {

  .container {
    width: 90%;
    margin:0 auto;
  }
  h1 {
    font-size: 4em;
  }
  h1.shout {
    font-size: 8em;
    margin-top:1em;
  }


  blockquote {
    border-left-width: 2px;
    padding-left: 14px;
  }

}

@media all and (min-width: 600px) {

  .howdy {
    width:50%;
    margin-right: 32px;
  }
  .colo {
    width: 35%;
    padding-left: 0;
  }

}


@media all and (min-width: 900px) {
  .container {
    width: 65%;
    margin:0 auto;
  }

  h1 {
    font-size:5em;
    display: inline-block;
    width:500px;
  }
  h1.shout {
    font-size: 9em;
    margin-top:1.2em;
  }

  .meta {
    display: inline-block;
  }
}
