
html, body {
    margin: 0;
    padding: 0;
}

body {
    border-top: solid 4px $link-color;
}

header,
footer {
    padding: $content-buffer 0 0;
    background-color: #eee;
    border-top:1px solid #fff;
    border-bottom:1px solid #ccc;
    text-align: center;

    p {
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        line-height: 1;
        color: lighten($base-color, 40%);
    }
}

footer {
    background-color: darken($base-color, 10%);
    color: #bbb;
    border-style: none;
    margin-top: 2*$content-buffer;

    .colo {
        padding: $content-buffer;
        background-color: darken($base-color, 20%);
        line-height: 1.6;
        padding-bottom: 4em;
        color: #999;
    }
}

.nav {
    margin: 0 $content-buffer;
    padding: $content-buffer 0;
    padding-left:0.5em;

    li {
        display: inline;
        margin-right:0.5em;
        padding: 0;
    }
}

.home .nav .home,
.blog .nav .blog,
.speaking .nav .speaking,
.search .nav .search {
    border-bottom-width: 3px;
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        color: $link-color;
        padding-bottom: 0.05em;
        border-bottom: solid 1px lighten($link-color, 20%);
    }
    &:hover,
    &:focus {
        color: $accent-color;
        border-bottom: solid 1px lighten($accent-color, 20%);
    }
}

.post-title {
    a {
        border-style: none;

        &:link,
        &:visited {
            color: darken($base-color, 50%);

        }
        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.post {

    .post-title {
        margin: $content-buffer;
    }
    aside {
        margin: 0 $content-buffer;
        font-size: 0.8em;
    }
    aside time,
    aside address {
        display: inline;
    }
    aside p {
        margin:0;
        padding:0;
    }
    .post-content {
        margin: $content-buffer;
    }
    .excerpt {
        font-size: 1.1em;
        font-style: italic;
    }
    .meta {
        font-size: 0.8em;
        background-color: #eee;
        padding: $content-buffer/2;
    }
    a.more {
        margin-bottom: 2em;
        display: inline-block;
    }
}

figure ,
blockquote {
    margin-left: -$content-buffer;
    margin-right: -$content-buffer;
}
figure img {
    width:100%;
}
figcaption {
    font-size: 0.7em;
    margin:0 $content-buffer;
}
blockquote {
    background-color: #eee;
    padding: $content-buffer;
    font-style: italic;
    border-left: 10px solid lighten($link-color, 20%);
}

.highlight {
    background-color: #eee;
    margin-left: -$content-buffer;
    margin-right: -$content-buffer;
    padding: 0 $content-buffer;
    overflow:auto;
    font-size:0.75em;
}

.listing {
    clear:both;
    margin-bottom: 2em;
    display:block;
}

.speaking time {
    color: #777;
    font-size: 0.9em;
    display: block;

}
.speaking .post-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 3em;
    border-top: solid 1px #ddd;
}
.speaking .post-content li {
    margin: 0;
    padding: 0.4em 0 0.5em;
    border-bottom: solid 1px #ddd;
}


/*  inline search */
div.search {
    background-color: #333;
    border-top: solid 3px #222;
    margin:-30px 0 30px;
    padding:2em 0;
    display: none;
}

// Show the search on the search page.
body.search div.search {
    display: block;
}


    div.search p {
        color: #fff;
    }
    div.search .string {
        background-color: #444;
        border: solid 1px #000;
        width:100%;
        margin: 0;
    }
    div.search input {
        border-style: none;
        background-color: transparent;
        color: #fff;
        font-size: 1em;
        line-height: 1;
        padding: 4px 10px;
        margin: 0;
        width:100%;
        font-family: "Helvetica", Helvetica, sans-serif;
        position: absolute;
        top:0;
        left:0;
    }
    input:focus {
        outline: none;
    }
    div.search label {
        display: block;
        position: relative;
        padding: 10px;
        font-family: "Helvetica", Helvetica, sans-serif;
        color: #999;
        font-size: 1.8em;
        overflow: none;
    }
    div.search .results {
        list-style: none;
        margin: 1em 0.2em;
        padding:0;
    }
    div.search li {
        margin: 0 0 0.6em;
    }
    div.search .results a:link,
    div.search .results a:visited {
        color: #bbb;
        border-style: none;
    }
    div.search .results a:hover,
    div.search .results a:focus {
        color: #fff;
        border-style: none;
    }
    div.search .results time {
        display: block;
        color: #666;
        font-size: 0.8em;
        line-height: 1;
    }

.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}


