* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

header {
  background-color: $accent-color;
  color: #fff;
  padding-bottom: 1em;
}

a.logo {
  display: inline-block;
  background-color: #fff;
  color: $accent-color;
  padding: 3em 0.2em 0.2em;
  margin: 0 1em 0.4em;
  text-decoration: none;
}

ul.nav {

  display: inline-block;

  li {
    display:inline;
    margin: 0 0.2em;
  }
  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: lighten($accent-color, 60%);
  }
}


div.search {
    display: none;
}


// if the viewport gets bigger than 500px
@media all and (min-width: 500px) {

}


// if the viewport gets bigger than 700px
@media all and (min-width: 700px) {

}
