
// if the viewport gets bigger than 500px
@media all and (min-width: 500px) {
    figure,
    blockquote,
    .highlight {
        margin-left: 0;
        margin-right: 0;
    }
    .highlight {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px
    }
}


// if the viewport gets bigger than 700px
@media all and (min-width: 700px) {

    header,
    footer {
        text-align: left;

        h1,
        p {
            margin-left:30.5%;
        }
        .colo {
            margin-left: 0;
            // padding-left:30.5%;
        }
    }

    .wrapper {
        width: 90%;
    }

    .post aside {
        float:left;
        text-align:right;
        width:22%;

        time,
        address {
            display: block;
        }
        p {
            margin:1em 0;

        }
    }
    // .listing aside {
    //     display: block;
    //     margin-left:29.5%;
    //     margin-bottom: 2em;
    //     text-align:left;
    //     width:100%;
    //     time,
    //     address {
    //         display: inline;
    //     }
    // }

    .nav {
        margin-left: 30.5%;
        padding-left:0;
    }
    .post .post-title  {
        font-size:2.4em;
        display: block;
        margin-left:30.5%;
    }
    .post-content {
        .post-title,
        h2,
        h3,
        p,
        a.more,
        ol,
        ul,
        div,
        figure,
        .listing aside,
        blockquote, {
            display: block;
            margin-left:29.5%;

            p,
            div,
            ul,
            ol {
                margin-left:0;
                margin-right:0;
            }
        }
        a.more {
            display:inline-block;
        }
    }

    figcaption {
        margin-left: 0;
    }
}