{{ define "hero" }}
<div class="hero hero-blog">
  <div class="container">
    <h1>Site tags</h1>
    <p class="subtitle">a listing of all of the tags and their posts on this site</p>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container content">

  {{ .Content }}

  <div class="listing">
    {{ range $key, $taxonomy := .Site.Taxonomies.tags }}
    <h2><a href="/tags/{{ $key }}">{{ $key }}</a></h2>
    <ul>
        {{ range $taxonomy.Pages }}
          {{ if not (isset .Params "proof") }}
          <li>
            <span class="publish-date">{{ .PublishDate.Format "2 January, 2006" }}</span> -
            <a href="{{ .Permalink}}">
              {{ if isset .Params "displayname" }}
                {{ .Params.displayname }}
              {{ else }}
                {{ .LinkTitle }}
              {{ end }}
            </a>
          </li>
          {{ end }}
        {{ end }}
    </ul>
    {{ end }}
  </div>

</div>
{{ end }}
