{{ define "hero" }}
<div class="hero hero-blog">
  <div class="container">
    <h1>Posts tagged: {{ lower .Title }}</h1>
    <p class="subtitle">explore the <a href="/tags">other tags</a> across the site</p>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container content">

  {{ .Content }}

  <div class="listing">

      {{ $tag := lower .Title}}
      {{ range .Site.Pages }}
        {{ if in .Params.tags $tag }}
        {{ partial "post-teaser.html" . }}
        {{ end }}
     {{ end }}

  </div>

</div>
{{ end }}
