---
title: Thanks for the question
description: Ask Phil Hawksworth to speak at your event. Or ask pretty much anything else.
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>Ask me anything</h1>
  <p>
    You've got questions? I might have answers.<br/>You can but ask!
  </p>
{% endblock %}

{% block content %}
<h2>Thanks! Nice of you to take the time to ask</h2>
<p>
  I'll do my best to get back to you quickly. But sometimes I can get behind. Thanks for being patient.
</p>
<h2>I'm also on Twitter</h2>
<p>
  While you wait (like you've not got things to do!) you can also <a href="https://www.twitter.com/philhawksworth">find me on twitter</a> which can also be a good way to get in touch.
</p>
{% endblock %}
