---
layout: "layouts/base.vto"
title: "Phil Hawksworth - posts"
---

<section>
  <hgroup>
    <h1>Writing</h1>
    <p>Blog posts and other writing, here and elsewhere</p>
  </hgroup>
</section>
<hr>
<section>
  <div class="listing">
  {{ for post of search.pages("post", "date=desc") }}
    <div class="list-item">
    {{ include "post-teaser.vto" { post } }}
    </div>
  {{ /for }}
  </div>
</section>

