---
title: "Hawksworx"
---

<section>
  <hgroup>
    <h1>hawksworx</h1>
    <p>Phil Hawksworth's home on the web</p>
  </hgroup>
</section>
<hr>
<section>
 <div class="listing">
  {{ for post of search.pages("post", "date=desc", 1) }}
  {{ include "post-teaser.vto" { post } }}
  {{ /for }}
</section>

