---
layout: base
title: hawksworx
pageclass: home
---

<article class="post">
    <h1 class="post-title">Howdy, howdy.</h1>
    <div class="post-content">
    <p>
            I'm Phil Hawksworth, a web developer working in London at <a href="http://rga.com" rel="me org uri">R/GA</a>
    </p>
    </div>
    <aside>
        <p>
            You can find me on Twitter at <a href="https://twitter.com/philhawksworth">@philhawksworth</a>
        </p>
    </aside>
    <div class="post-content">
        <figure>
            <img src="/images/philhawksworth-montage.jpg" class="about-me" alt="Phil Hawksworth" />
        </figure>
        <p>This site is the place where I post whatever feels important to me, mostly techie posts about web development and technology, but occasionally about fun family or food.</p>
        <p>I'm a geek for all things to do with The Web and I crop up from time to time on other sites around and about. Find me on, among others, these sites:</p>
        <ul>
            <li><a href="http://twitter.com/philhawksworth" rel="me">http://twitter.com/philhawksworth</a></li>
            <li><a href="http://flickr.com/people/philhawksworth" rel="me">http://flickr.com/people/philhawksworth</a></li>
            <li><a href="http://github.com/philhawksworth" rel="me">http://github.com/philhawksworth</a></li>
            <li><a href="http://gplus.to/philhawksworth" rel="me">http://gplus.to/philhawksworth</a></li>
            <li><a href="http://lanyrd.com/philhawksworth" rel="me">http://lanyrd.com/philhawksworth</a></li>
            <li><a href="http://www.slideshare.net/philhawksworth" rel="me">http://www.slideshare.net/philhawksworth</a></li>
            <li><a href="http://www.linkedin.com/in/philhawksworth" rel="me">http://linkedin.com/in/philhawksworth</a></li>
            <li><a href="http://huffduffer.com/philhawksworth" rel="me">http://huffduffer.com/philhawksworth</a> </li>
            <li><a href="http://www.quora.com/phil-hawksworth" rel="me">http://www.quora.com/phil-hawksworth</a> </li>
            <li><a href="http://www.last.fm/user/phawksworth/" rel="me">http://www.last.fm/user/phawksworth</a> </li>
            <li><a href="http://upcoming.yahoo.com/user/195539/" rel="me">http://upcoming.yahoo.com/user/195539</a> </li>
            <li><a href="http://dopplr.com/traveller/philhawksworth" rel="me">http://dopplr.com/traveller/philhawksworth</a> </li>
            <li><a href="http://www.vimeo.com/philhawksworth" rel="me">http://vimeo.com/philhawksworth</a> </li>
            <li><a href="http://del.icio.us/philhawksworth" rel="me">http://del.icio.us/philhawksworth</a> </li>
            <li><a href="http://friendfeed.com/philhawksworth" rel="me">http://friendfeed.com/philhawksworth</a> </li>
        </ul>
        <p class="meta">My public SSH encription key is available <a href="philhawksworth.pub.txt">here</a></p>
        </div>
</article>


{% for post in site.posts offset:0 limit:1%}
    {% include post_teaser.html %}
{% endfor %}



