@use "sass/reset.scss";
@use "sass/variables.scss";
@use "sass/fonts.scss";
@use "sass/layout.scss";
@use "sass/typography.scss";
@use "sass/utilities.scss";
@use "sass/code.scss";


:root{
  --color-page: var(--color-cream);
  --color-text: #555;
}


::selection {
  color: #000;;
  background-color: var(--shade-down-2);
}




hr {
  height: 0;
  margin: 3em auto;
  max-width: 1000px;
  border:none;
  border-top: 0.5px solid var(--color-accent);
}


.tag-list {
  display:flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 0.3em;
  margin: 2em 0 4em;
}

.meta {
  font-size: 0.7em;
  margin:0;
  padding: 3em 0 0;
}




figure {
  padding-top:0.75rem;
  margin:2em -1em;

  @media (min-width: 800px) {
    margin: 2em -3em;
  }
  @media (min-width: 1000px) {
    margin: 2em -5em;
  }

  padding: 0;
  figcaption {
    font-size: 0.66em;
    text-align: right;
    padding:0;
    margin:0;
    opacity: 0.5;
  }
  
  &:hover {
    figcaption {
      opacity: 1;
    }
  }
}
main img {
  width: 100%;
  padding:0;
  margin:0;
  border-radius: 4px;
  border:solid 0.5px var(--color-page);
  box-shadow: 0 0 12px #00000044;
}


.direct-link {
  display:inline-block;
  width: 0.8em;
  margin-left: -0.8em;
  opacity: 0.1;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

.nav,
.social {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.66em;
}

.brand-label {
  font-weight: bold;
}

img.flag {
  width: 1.2em;
  box-shadow: 0 0 3px var(--shade-down-2);
  border-radius: 3px;
  margin-top:0.5em;
}

.naked-list {
  list-style: none;
  padding-left: 0;
}

.marked-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  padding-bottom: 1em;
  p {
    margin: 0;
  }
}
