
// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1000px)";

$page-color : #262a31;
$text-color: #aaa;
$accent-color: #c0f824;
// $accent-color: #f82487;
// $accent-color: #0fabe9;

