
// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1000px)";

$page-color : #292e36;
// $page-accent-color : #ddd;
$text-color: #ccc;
$accent-color: #c0f824;
// $theme-color: #442;
// $accent-color : #33c;
