
// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1000px)";

// Colours
$page-color : #252930;
$text-color: #aaa;
$bright-color: #fff;
$accent-color: #c0f824;
