@import '_variables';
@import '_mixins';
@import '_type';

::-moz-selection {
  background-color: $accent-color;
  color: #000;
}
::selection {
  background-color: $accent-color;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  font-size: 12px;
  background-color: $page-color;
  color: $text-color;
  line-height: 1.5;
  border-top: solid 3px $accent-color;
  @include bp(narrow) {
    font-size: 14px;
    line-height: 1.6;
  }
  @include bp(mid) {
    font-size: 16px;
    line-height: 1.6;
  }
  @include bp(wide) {
    font-size: 18px;
    line-height: 1.8;
  }
}

.nav {
  list-style: none;
  font-size: 0.9em;

  @include bp(narrow) {
    font-size: 1em;
  }

  li {
    display: inline;
    &::after {
      content: '/';
      margin-left: 0.8em;
      margin-right: 0.6em;
    }
  }
  li:last-of-type {
    &::after {
      content: '';
    }
  }
}

.search-panel {
  background-color: $accent-color;
  .container {
    border-left-color: mix(#000, $accent-color, 20%);
    padding-top: 1em;
    padding-bottom: 1em;
  }
}



.title-section {
  margin-bottom: 2em;

  h1 {
    color: #fff;
    padding-top: 1.4em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
    @include bp(wide) {
      padding-top: 2em;
      font-size: 2.6em;
    }

    &::before {
      transition: all 0.1s ease;
      position: absolute;
      content: '';
      background-color: $page-color;
      border-color: mix(#fff, $page-color, 10%);
      background-size: 40px 40px;
      left: -62px;
      background-position: 0 0;
      border-style: solid;
      border-width: 4px;
      border-radius: 40px;
      width: 40px;
      height: 40px;

      @include bp(wide) {
        background-size: 100px 100px;
        left: -142px;
        margin-top: -14px;
        background-position: 0 0;
        border-width: 8px;
        border-radius: 100px;
        width: 100px;
        height: 100px;
      }
    }
  }

  h1.face::before {
    background-image: url('/images/philhawksworth-goon.jpg');
  }

  @include bp(wide) {
    margin-bottom: 4em;
    // &:hover {
    //   h1::before {
    //     border-radius: 110px;
    //     width: 110px;
    //     height: 110px;
    //     margin-top: -19px;
    //     left: -147px;
    //     background-size: 110px 110px;
    //   }
    // }
  }
}


.home .title-section {
  h1 {
    margin-bottom: 0em;
  }
}


.container {
  margin-left: auto;
  margin-right: auto;
  border-left-style: solid;
  border-left-color: mix(#fff, $page-color, 10%);
  text-align: left;
  width: 300px;
  border-left-width: 5px;
  padding-left: 35px;

  @include bp(mid) {
    width: 500px;
  }
  @include bp(wide) {
    width: 600px;
    padding-left: 80px;
    border-left-width: 8px;
  }

  img {
    width: 100%;
  }
}

img.heroImage {
  filter: sepia(100) hue-rotate(180deg) brightness(0.7) contrast(1.2);
  opacity: 0.8;
  margin-bottom: -1em;
  transition: all 0.1s ease;
}

.excerpt {
  margin-top: 3em;
}

.date {
  color: mix($text-color, $page-color, 60%);
}

ul.meta {
  list-style: none;
  font-size: 0.9em;
  li {
    display: inline-block;
    margin-right: 0.2em;
  }
}

ul.social {
  margin-top: -1.8em;
  margin-bottom: 2em;
}

ul.tags {
  font-size: 0.8em;
  margin-bottom: 2em;
  li::before {
    content: '#';
    margin-right: 0.2em;
  }
}


ul.listing {
  list-style: none;
  padding-top: 2em;
  padding-bottom: 1em;

  @include bp(wide) {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  li.item {
    margin-bottom: 5em;
    position: relative;

    @include bp(wide) {
      margin-bottom: 7em;
    }

    &:hover {
      img.heroImage {
        filter: none;
      }
      @include bp(wide) {
        h2::before {
          border-radius: 80px;
          width: 80px;
          height: 80px;
          left: -132px;
          margin-top: -22px;
        }
      }

    }
  }


  h2 {
    margin-bottom: 0.2em;
    &::before {
      position: absolute;
      content: '';
      transition: all 0.1s ease;
      background-color: $page-color;
      border-style: solid;
      border-color: mix(#fff, $page-color, 10%);
      border-width: 4px;
      border-radius: 30px;
      left: -56px;
      width: 30px;
      height:30px;

      @include bp(wide) {
        margin-top: -12px;
        border-width: 8px;
        border-radius: 60px;
        left: -122px;
        width: 60px;
        height: 60px;
      }
    }
  }
}




a {

  transition: all 0.1s ease;

  &:link,
  &:visited {
    color: lighten($text-color, 80%);
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: mix($accent-color, $page-color, 40%);
  }
  &:hover,
  &:focus {
    color: mix($accent-color, $page-color, 100%);
    border-bottom-style: solid;
    border-bottom-color: mix($accent-color, $page-color, 100%);
  }

  &.more::after {
    content: '→';
    margin-left: 0.3em;
    color: $text-color;
  }
}

header {
  background-color: darken($page-color, 5);
  color: mix($text-color, $page-color, 50%);

  .nav {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

footer {

  background-color: darken($page-color, 5);
  color: mix($text-color, $page-color, 50%);

  .nav {
    margin-bottom: 6em;
  }

  .container {
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 0.9em;
  }

  a {
    &:link,
    &:visited {
      color: mix($text-color, $page-color, 90%);
      text-decoration: none;
      border-bottom-style: none;

    }
    &:hover,
    &:focus {
      color: #fff;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $accent-color;
    }
  }

}


