{{ define "hero" }}
<div class="hero hero-blog">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <p class="subtitle">{{ .Params.subtitle }}</p>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container content">

  {{ .Content }}

  <div class="listing">
    <h2>Upcoming events</h2>
    <ul>
      {{ range sort .Site.Data.speaking.events "date" "asc" }}
      {{ if (time .date).After now }}
      {{ partial "talk.html" . }}
      {{ end }}
      {{ end }}
    </ul>

    <h2>Previous events</h2>
    <ul>
      {{ range sort .Site.Data.speaking.events "date" "desc" }}
      {{ if (time .date).Before now }}
      {{ partial "talk.html" . }}
      {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}



