
// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1000px)";

// $page-color : #fff;
// $page-accent-color : #ddd;
// $text-color: #222;
// $theme-color: #442;
// $accent-color : #33c;
