---
import BaseLayout from '@layouts/BaseLayout.astro';
const { title, tags } = Astro.props;
---
<BaseLayout>
  <div class="blog">

    <h1>{title}</h1>
    <h2>tags</h2>
    <ul>
      { tags.map(t => (<li><a href={"/blog/tags/"+t}>{t}</a></li>)) }
    </ul>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
  </div>
    
</BaseLayout>

<style is:global>
  
  .blog {
    text-align: center;
  }
  
  .blog img {
    width:100%;
    max-width:1200px;
    border-radius: 5px;
    margin: 2em auto;
    border: solid 1px #ffffff;
    box-shadow: 0 0 1.5em #00000022;
  }

  .blog p,
  .blog ul,
  .blog ol,
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4 {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }

  .astro-code {
    padding: 2em;
    margin: 2em auto;
    border-radius: 6px;
    text-align: left;
    max-width: 1200px;
  }

</style>
