---
pageClass: painted-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>😕<br/>Ooooh<br/>Ummmm<br/>Errrrrr</h1>
  <p>
    I can't seem to find that page. Bother.
  </p>
  <p>
    This is bound to be my fault, not yours.<br/>
    I'm terribly sorry about that.
  </p>
{% endblock %}


{% block content %}
  There are other things to find on this site though. Take a look around
  <hr />
  <h2><a href="/speaking">Speaking</a></h2>
  <p>
    My upcoming speaking events and conferences. Ans also some coverage and details of my previous talks.
  </p>
  <hr />
  <h2><a href="/blog">Blog</a></h2>
  <p>
    My all too infrequent blog postings about all sorts of things. Mostly about the web. But not always.
  </p>
    <hr />
  <h2><a href="/about">About</a></h2>
  <p>
    More information about me, and about how this site was put together. You can also ask me questions via this page. Questions like:
    <blockquote>
      <p>Just where exactly was that page I wanted to see?</p>
    </blockquote>
  </p>
{% endblock %}


