{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>The Blog</h1>
  <p>
    Various noodlings. Mostly about the web.
  </p>
{% endblock %}


{% block content %}
  {%- for post in collections.posts  -%}
  <div class="blog-list-item">
    <p class="by-line">{{ post.date | dateDisplay }}</p>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    {% if loop.index < 5%}
    <div class="grab">
    {{ post.templateContent | section | safe }}
    </div>
    <a href="{{ post.url }}" class="more-link">read more</a>
    {% endif %}
  </div>
  {%- endfor -%}
{% endblock %}


