---
title: Blog
layout: layouts/page.njk
---

## Blog

{%- for post in collections.posts -%}
{% PostTitle {
  title: post.data.title,
  date: post.data.date,
  href: post.url,
  tags: 'array soon',
  theme: 'red'
} %}

{%- endfor -%}
