---
layout: layouts/base.njk
pageClass: home
title: Phil Hawksworth
description: Phil Hawksworth's home on the Web. Blog posts, conference talks, links and other knick knacks.
---

<div class="title-section">
  <h1 class="face">Hawksworx</h1>
  <p>
    Rumblings about the web from Phil Hawksworth.
  </p>
  <ul class="meta social">
    <li><a href="https://twitter.com/philhawksworth">twitter</a></li>
    <li><a href="https://github.com/philhawksworth">github</a></li>
    <li><a href="https://linkedIn.com/in/philhawksworth">linkedIn</a></li>
    <li><a href="https://noti.st/philhawksworth">notist</a></li>
  </ul>
</div>
<ul class="listing">


  {# next speaking event #}
  {% set event = events.future[0] %}
  <li class="item item-talk">
    <h2><a href="/speaking#upcoming">Next event</a></h2>
    <div class="date">Will take place on <time datetime="{{ event.starts_on }}">{{ event.starts_on | dateDisplay }}</time></div>
    {% if event.url %}
    <p><a href="{{ event.url }}">{{ event.title }}</a>, {{ event.address }}</p>
    {% else  %}
    <p>{{ event.title }}, {{ event.address }}</p>
    {% endif %}

  </li>

  {# 5 most recent blog posts #}
  {%- for i in range(0, 3) -%}
  {% set item = collections.blogposts[i] %}
  <li class="item item-post">
    <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    <div class="date">Posted on <time datetime="{{ item.date }}">{{ item.date | dateDisplay }}</time></div>
    <ul class="meta tags">
    {%- for tag in item.data.tags -%}
      <li><a href="/tags/{{tag}}">{{tag}}</a></li>
    {% endfor -%}
    </ul>
    {%- if loop.first -%}
    <img src="{{item.data.hero }}" class="heroImage" />
    {%- endif -%}
    <div class="excerpt">
      {{- item.templateContent | section('excerpt') | safe -}}
    </div>
    <a class="more" href="{{ item.url }}">read more</a>
  </li>
  {%- endfor -%}

  {# latest link post  #}
  {% set item = collections.links[0] %}
  <li class="item item-link">
    <h2><a href="{{ item.url }}">{{ item.data.displayName }}</a></h2>
    <div class="direct-link"><a href="{{ item.data.link }}" rel="no-opener" target="_BLANK">{{ item.data.link }}</a></div>
    <div class="excerpt">
      {{- item.templateContent | safe -}}
    </div>
     <a class="more" href="/links">other links</a>
  </li>

</ul>
