---
title: Phil Hawksworth's speaking history and schedule
description: Covereage of Phil Hawksworth's previous conference talks, and listing of where he will be speaking next.
pageClass: "dark-theme theme-blue"
card: true
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>Speaking</h1>
  <p>
    I’m lucky enough to have been able to travel to speak at many conferences and events around the world. Usually talking about the hows and whys of web development.
  </p>
  <p>
    <a href="/ask-me/#to-speak">Ask me to speak at your event</a>
  </p>
{% endblock %}


{% block content %}

  <p>
    This summary of conference and meetup talks is taken from my <a href="https://noti.st/philhawksworth" target="NEW" rel="noopener">Notist</a> profile where I collect all of my talks including slides, videos and coverage.
  </p>
  <p>
    You can also find my speaker bio and other resources there on my <a href="https://noti.st/philhawksworth/bio" target="NEW" rel="noopener">speaker bio page</a>.
  </p>
  <img src="/images/speaking-at-coldfront-cropped.jpg" alt="Phil Hawksworth speaking at ColdFront Conference">

  <h2 id="upcoming">Upcoming events</h2>
  {%- for item in notist.events.future | reverse -%}
    {%- include "event.njk" -%}
  {%- endfor -%}

  <hr />

  <h2 id="previous">Previous events</h2>
  {%- for item in notist.events.past -%}
    {%- include "event.njk" -%}
  {%- endfor -%}
{% endblock %}

