---
title: Phil Hawksworth's speaking history and schedule
description: Covereage of Phil Hawksworth's previous conference talks, and listing of where he will be speaking next.
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>Speaking</h1>
  <p>
    I’m lucky enough to have been able to travel to speak at many conferences and events around the world. Usually talking about the hows and whys of web development.
  </p>
  {# <img src="/images/speaking-at-coldfront.jpeg" alt=""> #}
{% endblock %}


{% block content %}
  <h2>Upcoming events</h2>
  {%- for item in notist.events.future -%}
    {%- include "event.njk" -%}
  {%- endfor -%}

  <h2>Previous events</h2>
  {%- for item in notist.events.past -%}
    {%- include "event.njk" -%}
  {%- endfor -%}
{% endblock %}

