---
date: '2017-06-29T11:52:41+01:00'
draft: false
title: Speaking
subtitle: talks at conferences and meetups
description: Phil Hawksworth's upcoming conference talks and a record of those given previously
layout: layouts/base.njk

---

## Future events and coverage of previous talks

I'm lucky enough to have been able to travel to speak at many conferences and events around the world. Usually talking about the hows and whys of web development.

<img src="https://2018.coldfront.co/static/images/host-phill-h.jpg" alt="Phil Hawksworth's speaking" /> If you'd like me to speak at an event then [please do get in touch](/ask-me/to-speak)_


<ul class="listing">
{%- for event in events -%}
  <li>
    {% if event.url %}
    <a href="{{ event.url }}">{{ event.title }}</a> -
    {% else  %}
    <span>{{ event.title }}<span> -
    {% endif %}
    <time datetime="{{ event.starts_on }}">{{ event.starts_on | dateDisplay }}</time>
  </li>
{%- endfor -%}
</ul>
